/* Bauhaus CSS */

/*
Responsive styles can be applied via '.smartphone', '.tablet', '.portrait' & '.landscape' classes.
These classes are automatically applied and manipulated on <body> by Foundation.
*/

body {
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -1px;
}

.page-wrapper {
	left: 0;
	right: 0;
}

/* @group Header */

header a, header div {
	color: rgba(0,0,0,.9);
	text-shadow: rgba(255,255,255,.2) 0px 1px 0px;
}

header {
	position: relative;
	opacity: 1;
	overflow: hidden;
	height: 54px;
	z-index: 4;
}

header a.header-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 68%;
}

header h1 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	font-size: 150%;
	font-weight: normal;
	font-style: normal;
	line-height: 2.25;
}

header img {
	max-height: 44px;
	position: relative;
	max-width: 100%;
}

.portrait header img, .landscape header img {
	top: 4px;
}

.drop-down #menu {
	display: none;
	position: absolute;
	top: 54px;
	z-index: 3;
	right: 0;
	left: 0;
}

#menu-toggle {
	position: absolute;
	bottom: 0;
	left: 0;
	right: auto;
}

#menu-toggle.menu-right {
	position: absolute;
	bottom: 0;
	left: auto;
	right: 0;
}

#menu-toggle:after {
	content: "\e80a";
	display: block;
	font: 110% 'wptouch-icons', sans-serif;
	padding: 18px;
}

#search-toggle {
	position: absolute;
	bottom: 0;
	left:  0;
	right: auto;
}

#search-toggle.search-right {
	position: absolute;
	bottom: 0;
	left:  auto;
	right: 0;
}

#search-toggle:after {
	content: "\e809";
	display: block;
	font: 110% 'wptouch-icons', sans-serif;
	padding: 18px;
}

#menu-toggle.touched:after, #search-toggle.touched:after {
	color: rgba(0,0,0,.3);
}

.login-link {
	padding-left: 12px;
}

.login-link i {
	margin-right: 5px;
}

#wptouch-search-inner {
	background-color: rgba(0,0,0,.1);
	text-align: center;
	padding: 3px;
}

#wptouch-search-inner input[type="text"] {
	width: 65%;
	-webkit-appearance: none;
	border: 1px solid rgba(0,0,0,.3);
	padding: 4px;
	background-color: rgba(255,255,255,.9);
	font-size: 90%;
}

#wptouch-search-inner input[type="text"]:focus {
	background-color: white;
}

#wptouch-search-inner input[type="submit"] {
	border: 1px solid rgba(0,0,0,.2);
	padding: 2px 10px 4px;
	-webkit-appearance: none;
	background-color: rgba(255,255,255,.1);
	color: rgba(0,0,0,.8);
	font-size: 95%;
	vertical-align: bottom;
}

#search-dropper {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 400ms ease;
}

#search-dropper.toggled {
	max-height: 50px;
}

.touched {
	background-color: rgba(0,0,0,.1);
}

.page-wrapper .wptouch-custom-showcase {
	margin: 0 0 -3px;
}

/* @end */

/* @group Slider */

/* @group Normal */

#slider.normal a p.featured-date {
	font-size: 80%;
	display: block;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
	top: 50%;
	color: rgba(255,255,255,.6);
	height: 130px;
	margin-top: -65px;
}

#slider.normal p.heading-font {
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	top: 50%;
	height: 84px;
    margin: -42px auto 0;
	display: block;
    display: -webkit-box;
	max-width: 90%;
	overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	vertical-align: middle;
}

#slider.normal img {
	opacity: .8;
	-webkit-filter: blur(1px);
}



/* @end */

/* @group Enhanced Slider */

#slider.enhanced a p.featured-date {
	color: #999;
	font-size: 80%;
	top: 15px;
	display: block;
	text-align: left;
	left: 110px;
	text-shadow: none;
	text-transform: uppercase;
}

#slider.enhanced a p.heading-font {
	position: absolute;
	top: 30px;
	left: 110px;
	text-align: left;
	text-shadow: rgba(0,0,0,.2) 0px 1px 0px;
	letter-spacing: -1px;
	font-weight: normal;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	padding-right: 5%;
	margin: 3px 0 0;
	font-size: 160%;
	line-height: 115%;
	height: 4.2em;
	word-wrap: break-word;
}

.landscape #slider.enhanced a p.heading-font, .landscape #slider.enhanced a p.featured-date {
	left: 160px;
}

#slider.enhanced.comments .comments-number {
	display: block;
	position: absolute;
	z-index: 1;
	top: 5px;
	left: 80px;
	text-align: center;
	width: 18px;
}

#slider.enhanced.comments .comments-number span {
	color: white;
	z-index: 3;
	position: relative;
	font-size: 95%;
	font-weight: bold;
	margin-left: -25%;
	top: 10px;
}

#slider.enhanced.comments .comments-number:after {
	content: "\e812";
	display: block;
	font: 36px 'wptouch-icons', sans-serif;
	position: absolute;
	top: 0;
	left: -65%;
}

#slider.enhanced img {
	-webkit-filter: blur(2px) saturate(200%);
	opacity: .2;
}

#slider.enhanced img.clone {
	width: 210px;
	height: 210px;
	position: absolute;
	top: 5px;
	left: -70px;
	-webkit-filter: none;
	opacity: 1;
}

/* @end */

#slider {
	background: rgba(0,0,0,.85);
	text-shadow: rgba(0,0,0,.1) 0px 1px 1px;
}

#slider .owl-item {
	height: 220px;
	overflow: hidden;
}

#slider p {
	background: none;
}

.owl-dots {
	right: 0;
	left: 0;
	height: 20px;
	top: 190px;
}

.landscape .owl-dots {
	top: 240px;
}

#slider.grayscale img {
	-webkit-filter: saturate(100%) grayscale(1) contrast(1.1);
}

/* @end */

/* @group Post Loop */

.loop-link {
	display: block;
	position: relative;
	min-height: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.loop-link i.arrow {
	font-size: 34px;
	position: absolute;
	right: 3%;
	top: 50%;
	margin-top: -18px;
}

.loop-link .post-date-author {
	color: rgba(0,0,0,.5);
	display: block;
	font-size: 70%;
	margin-left: 50px;
	padding-top: 10px;
	text-transform: uppercase;
}

#content .loop-link h2 {
	display: inline-block;
	width: 60%;
	font-size: 130%;
	line-height: 130%;
	margin: 0;
	padding-bottom: 10px;
	overflow: hidden;
	font-weight: normal;
	font-style: normal;
}

.loop-link img.post-thumbnail {
	width: 64px;
	height: 64px;
	margin: 12px 10px 0;
	float: left;
	z-index: 1;
	position: relative;
}

.loop-link .date-circle,
.related .date-circle {
	position: relative;
	font-size: 215%;
	line-height: 110%;
	display: block;
	float: left;
	margin: 12px 10px 0;
	width: 62px;
	height: 48px;
	border: 1px solid rgba(0,0,0,.1);
	z-index: 1;
	padding-top: 14px;
	text-align: center;
	overflow: hidden;
	color: rgba(0,0,0,.7);
}
	.related .date-circle {
		font-size: 175%;
		height: 36px;
		float: none;
		margin: 0;
		line-height: 100%;
		position: absolute;
		top: 3px;
		width: 50px;
	}

.loop-link .date-circle .month,
.related .date-circle .month {
	text-transform: uppercase;
	font-size: 40%;
	position: absolute;
	top: -1px;
	right: 0;
	left: 0;
	letter-spacing: -1px;
}

.loop-link .date-circle .day,
.related .date-circle .day {
	position: absolute;
	top: 18px;
	right: 0;
	left: 0;
	font-size: 80%;
	letter-spacing: -1px;
}

.loop-link .bottom-border {
	border-bottom: 1px solid rgba(0,0,0,.15);
	display: block;
	position: absolute;
	bottom: 0;
	left: 88px;
	right: 0;
}

.no-thumbs.loop-link .bottom-border {
	left: 40px;
}

.no-thumbs.loop-link .post-date-author, #content .no-thumbs.loop-link h2 {
	margin-left: 40px;
}

/* @group Comment Bubble */

.loop-link .comments {
	position: absolute;
	z-index: 2;
	top: 5px;
	left: 58px;
	text-align: center;
	width: 18px;
}

.no-thumbs.loop-link .comments {
	top: 20px;
	left: 10px;
}

.loop-link .comments span {
	color: white;
	z-index: 3;
	position: relative;
	font-size: 70%;
	font-weight: bold;
	vertical-align: -5px;
}

.loop-link .comments:after {
	content: "\e812";
	display: block;
	font: 30px 'wptouch-icons', sans-serif;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 0;
}

.no-thumbs.loop-link .comments:after {
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	transform: scaleX(-1);
	-webkit-filter: FlipH;
	filter: FlipH;
	-ms-filter: "FlipH";
}

/* @end */

/* @end */

/* @group Single */

/* @group Crumb Path (incomplete) */

.crumb-path {
	background-image: -webkit-gradient(radial, 50% 0%,0,50% 0%,400, to(rgba(0, 0, 0,0)), from(rgba(255, 255, 255, 0.50)));
	z-index: 2;
	text-align: left;
	opacity: .9;
}

.crumb-path p {
	font-size: 80%;
	padding: 6px 12px;
	margin: 0;
}

.crumb-path p span {
	display: inline-block;
	width: 65%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.landscape .crumb-path p span {
	width: 78%;
}

.ios7 .crumb-path {
	position: -webkit-sticky;
	top: 0px;
}

/* @end */

.sharing-options.style-default.share-top a {
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
}

.sharing-options +.nav-controls {
	margin-bottom: -11px;
}

/* @group Posts Nav */

.nav-controls {
	background-color: rgba(0,0,0,.05);
	font-size: 90%;
	font-weight: bold;
	border-top: 1px solid rgba(0,0,0,.05);
	border-bottom: 1px solid rgba(0,0,0,.05);
	padding: 10px 20px;
	text-align: center;
	margin: -1px 0;
	color: rgba(0,0,0,.7);
}

.nav-controls div {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	float: left;
}

.nav-controls a:before {
	margin-right: 3px;
}

.nav-controls a {
	font-weight: normal;
	font-style: normal;
	display: block;
}

.nav-controls a.prev-post {
	padding-right: 8px;
}

.nav-controls .previous {
	text-align: left;
	word-wrap: break-word;
}

.nav-controls .next {
	text-align: right;
	word-wrap: break-word;
	float: right;
}

.nav-controls a:after {
	margin-left: 3px;
}

/* @end */

/* @end */

/* @group Posts / Pages Shared CSS */

.post-page-content {
	color: rgba(0,0,0,.7);
	font-size: 100%;
	line-height: 165%;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	word-wrap: break-word;
}
	.post-page-content .post-page-thumbnail,
	.post-page-content .sharing-options {
		margin-left: -20px;
		margin-right: -20px;
	}

.post-page-content .wp-caption {
	max-width: 300px !important;
	width: auto !important;
}

.post-page-content img.aligncenter {
	margin-left: -20px;
	margin-right: -20px;
	padding: 0 !important;
	border: none !important;
}

.post-page-content table {
	max-width: 100%;
	overflow: scroll;
}

.post-page-content ul, .post-page-content ol {
	margin-left: -5px;
	margin-right: -5px;
	list-style-type: circle;
}

.post-page-content ol {
	list-style-type: decimal;
}

.post-page-content li {
	margin-left: 10;
	margin-right: 10;
	padding-right: 0;
	padding-left: 0;
}

.wptouch-shortcode-webapp-mobile, .wptouch-shortcode-webapp-only, .wptouch-shortcode-webapp-only {
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	display: block;
}

.post-page-content p a, .comment-body a {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

.post-page-content .post-thumbnail {
	margin: 0 0 -8px;
	padding: 0;
	min-width: 100%;
	height: auto;
}

.post-page-head-area .post-date-comments, .post-page-head-area .post-author {
	font-size: 75%;
	color: rgba(0,0,0,.5);
	margin-right: 10px;
	margin-left: 10px;
}

.post-page-content .cat-tags {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 90%;
	margin-top: 15px;
	text-align: left;
}

.post-page-head-area.bauhaus {
	background-image: -webkit-gradient(radial, 50% 0%,0,50% 0%,500, from(rgba(0, 0, 0,0)), to(rgba(255, 255, 255, 0.50)));
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: rgba(255,255,255,.3) 0px 1px 0px;
	overflow: hidden;
}

.post-page-head-area.bauhaus h2.post-title {
	color: rgba(0,0,0,.7);
	letter-spacing: -2px;
	font-size: 180%;
	font-weight: normal;
	margin: 0 !important;
	padding: 10px 12px;
    word-wrap: break-word;
}

.post-page-content blockquote {
	border-left: 3px solid rgba(0,0,0,.2);
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 10px;
}

.post-page-content .wptouch-showcase {
	padding: 0;
}

.top-content-showcase .wptouch-showcase,
.bottom-content-showcase .wptouch-showcase,
#content .wptouch-showcase {
	margin-left: -15px;
	margin-right: -15px;
}

/* @end */

/* @group Related Posts */

.related-posts {
	padding-top: 0;
	background-color: rgba(255,255,255,.5);
	padding: 15px;
	border-top: 1px solid rgba(0,0,0,.1);
	color: rgba(0,0,0,.7);
}

.related-posts ul li {
	position: relative;
	list-style-type: none;
	margin: 0 0 20px;
}

.related-posts h3 {
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.6em;
}

.related-posts li  p {
	margin-top: 5px;
	font-size: 95%;
	line-height: 140%;
}

.related-posts li.has-thumb  a, .related-posts p {
	padding-left: 60px;
	display: block;
	overflow: hidden;
}

.related-posts .has-thumb img {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 3px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.related-posts li a {
	display: block;
	padding-left: 62px;
}

/* @end */

/* @group Comments */

.no-com-bubbles #slider .comments-number, .no-com-bubbles .loop-link .comments {
	display: none;
}

#comments {
	color: rgba(0,0,0,.7);
	background-color: rgba(255,255,255,.3);
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: 20px;
}

#responses, #respond {
	margin-left: 15px;
	margin-right: 15px;
}

#respond {
	padding-top: 20px;
}

.comment {
	margin-left: 15px;
	padding-right: 15px;
}

.comment-author, .comment-time, .comment-body {
	margin-left: 65px;
}

.comment-author {
	font-weight: bold;
	font-size: 95%;
}

.comment-time {
	font-size: 75%;
	color: rgba(0,0,0,.4);
}

#comments .comment-avatar {
	width: 54px;
	height: 54px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	border: 1px solid rgba(255,255,255,.5);
	float: left;
	right: 2px;
	position: relative;
	overflow: hidden;
}

#comments .comment-avatar img {
	width: 100%;
	height: auto;
}

.comment .comment-body {
	font-size: 90%;
	padding-bottom: 15px;
	word-wrap: break-word;
}

.comment .comment-body a {
	word-wrap: break-word;
}

.comment .comment-body:after {
	content: '';
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.15);
	margin-right: -15px;
}

#comments blockquote {
	margin-left: 0;
	padding-left: 10px;
}

#comments .load-more-comments-wrap a {
	font-size: 95%;
}

/* @group Commentform */

form#commentform input, form#commentform textarea {
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

form#commentform input {
	margin-right: 5px;
}

form#commentform button#submit {
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

/* @end */

/* @end */

/* @group Search */

.search span.select-wrap {
	display: block;
	margin-top: 25px;
}

.search span.select-wrap .search-select {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	background-color: transparent;
	-webkit-appearance: none;
	padding: 4px;
	border-style: none;
	font-size: 100%;
}

.search span.select-wrap i.wptouch-icon-caret-down {
	content: "\e844";
	font: 110% 'wptouch-icons', sans-serif;
	position: relative;
	z-index: 2;
	top: 1px;
	right: 2px;
}

.no-results {
	text-align: center;
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
}

/* @end */

/* @group Login Fly-In */

.dark-post-head .wptouch-login-wrap, .dark-post-head .wptouch-login-wrap a {
	color: rgba(255,255,255,.8);
	text-shadow: rgba(0,0,0,.2) 0 -1px 0;
}

.dark-post-head .wptouch-login-wrap #wp-submit {
	color: rgba(255,255,255,.8);
	border: 1px solid rgba(0,0,0,.2);
	background-color: rgba(0,0,0,.1);
}

/* @end */

/* @group Footer */

.load-more-link, .load-more-comments-wrap a {
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: normal;
	font-style: normal;
}

#switch {
	margin-top: 15px;
	margin-bottom: -15px;
}

.page-wrapper .footer {
	margin-top: 25px;
	font-size: 75%;
}

.footer, a.back-to-top {
	font-size: 80%;
	color: rgba(0,0,0,.5);
	font-weight: normal;
	font-style: normal;
}

/* @end */

/* @group Circles */

.circles #slider img.clone {
	-webkit-border-radius: 225px;
	border-radius: 225px;
}

.circles .loop-link .date-circle,
.circles .related .date-circle {
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.circles .loop-link img.post-thumbnail {
	-webkit-border-radius: 150px;
	border-radius: 150px;
}

.landscape.circles #slider img.clone {
	width: 250px;
	height: 250px;
	-webkit-border-radius: 225px;
	border-radius: 225px;
	left: -30px;
	top: 12px;
}

.landscape.circles #slider .comments-number {
	left: 130px;
	top: 15px;
}

/* @end */

/* @group Round Squares */

.roundsquares #slider .comments-number {
	left: 85px;
	top: 0;
}

.roundsquares #slider img.clone {
	left: -85px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.landscape.roundsquares #slider img.clone {
	left: 0;
}

.landscape.roundsquares #slider .comments-number {
	left: 160px;
}

.roundsquares .loop-link .date-circle {
	-webkit-border-radius: 14px;
	border-radius: 14px;
}

.roundsquares .loop-link img.post-thumbnail, .roundsquares .related img.wp-post-image, .roundsquares .comment-avatar {
	-webkit-border-radius: 14px;
	border-radius: 14px;
}

/* @end */

/* @group Dark */

.dark-body .loop-link .post-date-author {
	color: rgba(255,255,255,.4);
}

.dark-header #menu-toggle.touched:after, .dark-header #search-toggle.touched:after {
	color: rgba(255,255,255,.3);
}

.dark-header #wptouch-search-inner input[type="submit"] {
	color: rgba(255,255,255,.9);
}

.dark-header .loop-link .date-circle,
.dark-header .related .date-circle {
	color: rgba(255,255,255,.8);
}

.dark-header header a, .dark-header header div {
	color: rgba(255,255,255,.9);
	text-shadow: rgba(0,0,0,.2) 0px -1px 0px;
}

.dark-body .post-page-content, .dark-body .footer, .dark-body .back-to-top {
	color: rgba(255,255,255,.8);
}

.dark-body .loop-link .bottom-border {
	border-bottom: 1px solid rgba(255,255,255,.15);
}

.dark-body .sharing-options a {
	border-top-color: rgba(0,0,0,.1);
	border-bottom-color: rgba(0,0,0,.1);
	text-shadow: none;
}

.dark-post-head .post-page-head-area h2.post-title, .dark-post-head .post-page-head-area select, .dark-post-head .post-page-head-area .archive-text {
	color: rgba(255,255,255,.8);
	text-shadow: rgba(0,0,0,.2) 0px -1px 0px;
}

.dark-post-head .post-page-head-area .post-date-comments, .dark-post-head .post-page-head-area .post-author {
	color: rgba(255,255,255,.6);
	text-shadow: rgba(0,0,0,.1) 0px -1px 0px;
}

.dark-post-head .post-page-head-area {
	background-image: -webkit-gradient(radial, 50% 0%,0,50% 0%,500, from(rgba(255, 255, 255, 0.20)), to(rgba(0, 0, 0,0)));
}

.dark-body #comments {
	color: rgba(255,255,255,.7);
	background-color: rgba(0,0,0,.05);
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.dark-body .comment-time {
	color: rgba(255,255,255,.4);
}

.dark-body .comment .comment-body:after {
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.dark-body .comment-avatar {
	border: 1px solid rgba(0,0,0,.1);
}

.dark-body .related-posts {
	background-color: rgba(0,0,0,.2);
}

.dark-post-head form#commentform button#submit {
	color: rgba(255,255,255,.8);
}

/* @end */

/* @group Web App Mode */

.ios7.smartphone.web-app-mode #menu {
	padding-top: 20px;
}

.drop-down.ios7.smartphone.web-app-mode #menu {
	position: fixed;
	top: 74px;
	overflow: auto;
	padding-top: 0;
	-webkit-overflow-scrolling: touch;
}

.ios7.web-app-mode.has-fixed header {
	position: -webkit-sticky;
	opacity: 0.97;
	padding-top: 20px;
	top: 0;
}

.ios7.web-app-mode .crumb-path {
	position: -webkit-sticky;
	top: 74px;
}

.ios7.web-app-mode #search-dropper {
	position: -webkit-sticky;
	top: 74px;
	z-index: 3;
}

/* @end */

/* @group Off-Canvas Login */

.off-canvas .wptouch-login-wrap {
	text-align: center;
	font-size: 70%;
}



/* @end */


/* @group Polylang language menu compat */
.wptouch-menu li.lang-item span {
    border: none;
    box-shadow: none;
    float: left;
    padding: 0 15px;
}

.wptouch-menu li.lang-item img {
    height: auto;
    width: auto;
    top: 2px;
    padding-right: 0;
}

.wptouch-menu li.lang-item span:before {
    content: '';
    border: none;
}



/*custom top layout*/

.one{

  float: left;
  width: 46%;
  margin-left:1%;
  margin-right:1%;

}




.clear {

	clear : both;

}

/* margin */

.m_l1  { margin-left:  1px !important; }
.m_l2  { margin-left:  2px !important; }
.m_l3  { margin-left:  3px !important; }
.m_l4  { margin-left:  4px !important; }
.m_l5  { margin-left:  5px !important; }
.m_l10 { margin-left: 10px !important; }
.m_l11 { margin-left: 10px !important; }
.m_l12 { margin-left: 10px !important; }
.m_l13 { margin-left: 15px !important; }
.m_l14 { margin-left: 15px !important; }
.m_l15 { margin-left: 15px !important; }
.m_l16 { margin-left: 15px !important; }
.m_l17 { margin-left: 15px !important; }
.m_l18 { margin-left: 15px !important; }
.m_l19 { margin-left: 15px !important; }
.m_l20 { margin-left: 20px !important; }

.m_l25 { margin-left: 25px !important; }
.m_l29 { margin-left: 29px !important; }

.m_l30 { margin-left: 30px !important; }
.m_l40 { margin-left: 40px !important; }

.m_l50 { margin-left: 50px !important; }
.m_l60 { margin-left: 60px !important; }
.m_l70 { margin-left: 70px !important; }
.m_l88 { margin-left: 88px !important; }


.m_l120 { margin-left: 120px !important; }
.m_l121 { margin-left: 121px !important; }
.m_l125 { margin-left: 125px !important; }
.m_l126 { margin-left: 126px !important; }

.m_l144 { margin-left: 144px !important; }
.m_l145 { margin-left: 145px !important; }
.m_l146 { margin-left: 146px !important; }
.m_l147 { margin-left: 147px !important; }
.m_l150 { margin-left: 150px !important; }
.m_l160 { margin-left: 160px !important; }
.m_l175 { margin-left: 175px !important; }
.m_l182 { margin-left: 182px !important; }


.m_t1  { margin-top:  1px !important; }
.m_t2  { margin-top:  2px !important; }
.m_t3  { margin-top:  3px !important; }
.m_t4  { margin-top:  4px !important; }
.m_t5  { margin-top:  5px !important; }
.m_t6  { margin-top:  6px !important; }
.m_t7  { margin-top:  7px !important; }
.m_t8  { margin-top:  8px !important; }
.m_t9  { margin-top:  9px !important; }
.m_t10 { margin-top: 10px !important; }
.m_t11 { margin-top: 11px !important; }
.m_t12 { margin-top: 12px !important; }
.m_t13 { margin-top: 13px !important; }
.m_t15 { margin-top: 15px !important; }
.m_t20 {
	margin-top: 20px !important;
}
.m_t25 { margin-top: 25px !important; }
.m_t30 { margin-top: 30px !important; }
.m_t32 { margin-top: 32px !important; }
.m_t33 { margin-top: 33px !important; }
.m_t34 { margin-top: 34px !important; }
.m_t30 { margin-top: 30px !important; }
.m_t40 { margin-top: 40px !important; }
.m_t50 { margin-top: 50px !important; }
.m_t60 { margin-top: 60px !important; }
.m_t70 { margin-top: 70px !important; }
.m_t80 { margin-top: 80px !important; }
.m_t85 { margin-top: 85px !important; }
.m_t90 { margin-top: 90px !important; }
.m_t100 { margin-top: 100px !important; }

.m_r5  { margin-right:  5px !important; }
.m_r9  { margin-right:  9px !important; }
.m_r10 { margin-right: 10px !important; }
.m_r15 { margin-right: 15px !important; }
.m_r20 { margin-right: 20px !important; }
.m_r29 { margin-right: 29px !important; }
.m_r30 { margin-right: 30px !important; }
.m_r40 { margin-right: 40px !important; }
.m_r50 { margin-right: 50px !important; }
.m_r60 { margin-right: 60px !important; }
.m_r70 { margin-right: 70px !important; }
.m_r80 { margin-right: 80px !important; }

.m_b5  { margin-bottom:  5px !important; }
.m_b10 { margin-bottom: 10px !important; }
.m_b15 { margin-bottom: 15px !important; }
.m_b20 { margin-bottom: 20px !important; }
.m_b30 { margin-bottom: 30px !important; }
.m_b40 { margin-bottom: 40px !important; }
.m_b50 { margin-bottom: 50px !important; }

.m_l_auto { margin-left: auto !important; }
.m_r_auto { margin-right: auto !important; }

.m_rp {margin-right: 1% !important;}

.m_lp {margin-left: 2% !important;}


/*padding -------------------------------------------------------- */
.p_l3  { padding-left:  3px !important; }
.p_l4  { padding-left:  4px !important; }\
.p_l5  { padding-left:  5px !important; }
.p_l6  { padding-left:  6px !important; }
.p_l7  { padding-left:  7px !important; }
.p_l10 { padding-left: 10px !important; }
.p_l15 { padding-left: 15px !important; }
.p_l16 { padding-left: 15px !important; }
.p_l17 { padding-left: 15px !important; }
.p_l18 { padding-left: 15px !important; }
.p_l20 { padding-left: 20px !important; }
.p_l21 { padding-left: 21px !important; }
.p_l22 { padding-left: 22px !important; }
.p_l23 { padding-left: 23px !important; }
.p_l24 { padding-left: 24px !important; }
.p_l25 { padding-left: 25px !important; }
.p_l30 { padding-left: 30px !important; }
.p_l40 { padding-left: 40px !important; }
.p_l45 { padding-left: 45px !important; }
.p_l50 { padding-left: 50px !important; }
.p_l55 { padding-left: 55px !important; }
.p_l60 { padding-left: 60px !important; }
.p_l61 { padding-left: 61px !important; }
.p_l62 { padding-left: 62px !important; }
.p_l63 { padding-left: 63px !important; }
.p_l64 { padding-left: 64px !important; }
.p_l65 { padding-left: 65px !important; }

.p_l70 { padding-left: 70px !important; }
.p_l80 { padding-left: 80px !important; }
.p_l90 { padding-left: 90px !important; }

.p_l140 { padding-left: 140px !important; }
.p_l142 { padding-left: 142px !important; }
.p_l143 { padding-left: 143px !important; }
.p_l144 { padding-left: 144px !important; }
.p_l145 { padding-left: 145px !important; }
.p_l146 { padding-left: 146px !important; }
.p_l147 { padding-left: 147px !important; }
.p_l150 { padding-left: 150px !important; }
.p_l160 { padding-left: 160px !important; }
.p_l170 { padding-left: 170px !important; }

.p_t1 { padding-top: 1px !important; }
.p_t2 { padding-top: 2px !important; }
.p_t3 { padding-top: 3px !important; }
.p_t4 { padding-top: 4px !important; }
.p_t5 { padding-top: 5px !important; }
.p_t6 { padding-top: 6px !important; }
.p_t7 { padding-top: 7px !important; }
.p_t8 { padding-top: 8px !important; }
.p_t9 { padding-top: 9px !important; }
.p_t10 { padding-top: 10px !important; }
.p_t13 { padding-top: 13px !important; }
.p_t15 { padding-top: 15px !important; }
.p_t20 { padding-top: 20px !important; }
.p_t30 { padding-top: 30px !important; }
.p_t40 { padding-top: 40px !important; }
.p_t50 { padding-top: 50px !important; }
.p_t60 { padding-top: 60px !important; }
.p_t70 { padding-top: 70px !important; }
.p_t80 { padding-top: 80px !important; }
.p_t85 { padding-top: 85px !important; }

.p_t110 { padding-top: 110px !important; }
.p_t120 { padding-top: 120px !important; }
.p_t130 { padding-top: 130px !important; }
.p_t140 { padding-top: 140px !important; }
.p_t150 { padding-top: 150px !important; }


.p_r5  { padding-right:  5px !important; }
.p_r10 { padding-right: 10px !important; }
.p_r15 { padding-right: 15px !important; }
.p_r20 { padding-right: 20px !important; }
.p_r30 { padding-right: 30px !important; }
.p_r35 { padding-right: 35px !important; }
.p_r40 { padding-right: 40px !important; }
.p_r50 { padding-right: 50px !important; }

.p_b3  { padding-bottom:  3px !important; }
.p_b5  { padding-bottom:  5px !important; }
.p_b10 { padding-bottom: 10px !important; }
.p_b15 { padding-bottom: 15px !important; }
.p_b20 { padding-bottom: 20px !important; }
.p_b30 { padding-bottom: 30px !important; }
.p_b40 { padding-bottom: 40px !important; }
.p_b50 { padding-bottom: 50px !important; }


.tL{ text-align: left !important; }
.tC{ text-align: center !important; }
.tR{ text-align: right !important; }


.fs7 { font-size: 7px !important; }
.fs8 { font-size: 60% !important; }
.fs9 { font-size: 70% !important; }
.fs10 { font-size: 84% !important; }
.fs11 { font-size: 92% !important; }
.fs12 { font-size: 105% !important;}
.fs13 { font-size: 109% !important;}
.fs14 { font-size: 117% !important; }
.fs16 { font-size: 134% !important; }
.fs17 { font-size: 142% !important; }
.fs18 { font-size: 150% !important; }
.fs19 { font-size: 159% !important; }
.fs20 { font-size: 167% !important; }
.fs21 { font-size: 175% !important; }
.fs22 { font-size: 184% !important; }
.fs23 { font-size: 192% !important; }
.fs24 { font-size: 200% !important; }
.fs25 { font-size: 209% !important; }
.fs26 { font-size: 217% !important; }
.fs28 { font-size: 230% !important; }
.fs30 { font-size: 245% !important; }
.fs40 { font-size: 300% !important; }


.fw { font-weight: bold; }


#menu_custom .one a img {
    max-width: 100%;
    height: auto;
}

#menu_custom .two a img {
    max-width: 100%;
    height: auto;
}


/*携帯用コンタクトフォームのセッティング*/

.wpcf7 input, .wpcf7 textarea {
    font-size: 100% !important;
    padding-left: 5px !important;
    padding-right: 0 !important;
    max-width: 100% !important;
    width: 100% !important;

}


.mobile_box_3 {

	width:31.7%;
	float: left;
	border: 1px solid #ddb992;

}


.mobile_image {

	width:100%;

}



.box_3 {

	width : 100%;

}

.box3_text {

	width:100%;
	margin-left:1px;
	height:auto;
	margin-bottom:3px;

}

.box3_text {

	line-height : 0.9;

}


.box_3 article .mobile_image a span img {

		width : 100% !important;
		max-width : 100% !important;
		/*height: auto !important;*/
		height: 100px;


}

 .box_3_img {

		width : 100% !important;
		max-width : 100% !important;
		height: auto !important;


}


.menu-item {
    list-style-type: none !important;
    font-size: 13px !important;
    border-top: 1px solid #DD9586 !important;
    border-bottom: 1px solid #A42300 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}


#menu-footermenu {
    background-color: #cf4d31 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


#menu-footer_wp {
    background-color: #cc510a !important;
}


.menu-item a {
    color: #FFFFFF !important;
}


.menu-item a:hover {
    color: #ff5f03 !important;
}


#footer-title-logo {


background-color : #cf4d31;


}

#footer-title-logo img {

	width : 102px !important;
	height : 42px !important;

}


table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  padding: 10px;
  border: 1px solid #999;
}
table th {
  background-color: #eee;
  text-align: center;
  width: 30%;
}

@media screen and (max-width: 400px) {
  table {
    border-top: 1px solid #999;
  }
  table td {
    display: block;
    text-align: center;
  }
  table th {
    display: block;
    border-top: none;
    border-bottom: none;
    width: 100%;
  }
}

.red_color {

	color : #FF0000;

}


/* @end* /
