body {
  font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
  -webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.02em
}

h1, h2, h3 {
  font-weight: 300
}

h4, h5, h6 {
  font-weight: 400
}

.page-wrapper {
  left: 0;
  right: 0
}

header a, header div {
  color: rgba(0, 0, 0, .9)
}

header {
  position: relative;
  opacity: 1;
  overflow: hidden;
  height: 54px;
  z-index: 4
}

header a.header-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 68%
}

.site-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 150%;
  font-weight: 400;
  font-style: normal;
  line-height: 2.25
}

header img {
  max-height: 44px;
  position: relative;
  max-width: 100%
}

.landscape header img, .portrait header img {
  top: 4px
}

.drop-down #menu {
  display: none;
  position: absolute;
  top: 54px;
  z-index: 3;
  right: 0;
  left: 0
}

#menu-toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto
}

#menu-toggle.menu-right {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0
}

#menu-toggle:after {
  content: "\e80a";
  display: block;
  font: 110% wptouch-icons, sans-serif;
  padding: 18px
}

#search-toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto
}

#search-toggle.search-right {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0
}

#search-toggle:after {
  content: "\e809";
  display: block;
  font: 110% wptouch-icons, sans-serif;
  padding: 18px
}

#menu-toggle.touched:after, #search-toggle.touched:after {
  color: rgba(0, 0, 0, .3)
}

.login-link {
  padding-left: 12px
}

.login-link i {
  margin-right: 5px
}

#wptouch-search-inner {
  background-color: rgba(0, 0, 0, .1);
  text-align: center;
  padding: 5px
}

#wptouch-search-inner input[type=text] {
  width: 70%;
  -webkit-appearance: none;
  padding: 4px;
  background-color: rgba(255, 255, 255, .9);
  font-size: 90%;
  border-style: none;
  border-radius: 2px
}

#wptouch-search-inner input[type=text]:focus {
  background-color: #fff
}

#wptouch-search-inner input[type=submit] {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 1px 10px 4px;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, .1);
  color: rgba(0, 0, 0, .8);
  font-size: 95%;
  vertical-align: bottom
}

#search-dropper {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 330ms ease-in-out
}

#search-dropper.toggled {
  max-height: 60px
}

.touched {
  background-color: rgba(0, 0, 0, .1)
}

.page-wrapper .wptouch-custom-showcase {
  margin: -1px auto -10px
}

.list-view .flickity-page-dots {
  margin-bottom: 35px
}

.list-view .flickity-page-dots .dot {
  width: 15px;
  height: 2px;
  margin-right: 0;
  margin-left: 0;
  border-radius: 0;
  background-color: #fff;
  opacity: .4
}

.list-view .flickity-page-dots .dot.is-selected {
  opacity: 1
}

.list-view .carousel.list-carousel {
  box-shadow: inset rgba(0, 0, 0, .1) 0 0 24px;
  height: 220px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  visibility: hidden
}

.list-view .carousel.list-carousel.flickity-enabled {
  visibility: visible
}

.list-view .list-carousel .carousel-cell {
  height: 100%;
  width: 100%;
  max-width: none!important;
  overflow: hidden
}

.list-view .list-carousel .carousel-cell img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 120%;
  max-width: 120%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden
}

.list-view .carousel.list-carousel h2 {
  text-shadow: rgba(0, 0, 0, .6) 0 0 10px;
  position: absolute;
  bottom: 35%;
  font-size: 180%;
  font-weight: 600;
  width: 90%;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 0;
  right: 0;
  line-height: 150%
}

.list-view .list-carousel .post-meta {
  text-shadow: rgba(0, 0, 0, .6) 0 0 10px;
  position: absolute;
  font-size: 75%;
  font-weight: 600;
  display: inline-block;
  bottom: 25%;
  z-index: 1;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  right: 0;
  left: 0;
  text-transform: uppercase;
  text-align: center
}

.loop-link {
  display: block;
  position: relative;
  min-height: 80px;
  padding-top: 10px;
  padding-bottom: 10px
}

.loop-link i.arrow {
  font-size: 34px;
  position: absolute;
  right: 3%;
  top: 50%;
  margin-top: -18px
}

.loop-link .post-meta {
  color: rgba(0, 0, 0, .5);
  display: block;
  font-size: 70%;
  margin-left: 88px;
  padding-top: 10px;
  text-transform: uppercase
}

.loop-link .post-meta.comments {
  margin-left: 88px
}

#content .loop-link h2 {
  display: inline-block;
  width: 65%;
  font-size: 130%;
  line-height: 130%;
  margin: 0 0 0 4px;
  padding-bottom: 10px;
  overflow: hidden;
  font-weight: 400;
  font-style: normal;
  padding-top: 10px
}

.loop-link img.post-thumbnail {
  width: 64px;
  height: 64px;
  margin: 12px 10px 0;
  z-index: 1;
  float: left
}

.loop-link .date-circle, .related .date-circle {
  position: relative;
  font-size: 215%;
  line-height: 110%;
  display: block;
  float: left;
  margin: 12px 10px 0;
  width: 62px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, .1);
  z-index: 1;
  padding-top: 14px;
  text-align: center;
  overflow: hidden;
  color: rgba(0, 0, 0, .7)
}

.related .date-circle {
  font-size: 175%;
  height: 36px;
  float: none;
  margin: 0;
  line-height: 100%;
  position: absolute;
  top: 3px;
  width: 50px
}

.loop-link .date-circle .month, .related .date-circle .month {
  text-transform: uppercase;
  font-size: 40%;
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
  letter-spacing: -1px
}

.loop-link .date-circle .day, .related .date-circle .day {
  position: absolute;
  top: 18px;
  right: 0;
  left: 0;
  font-size: 80%;
  letter-spacing: -1px
}

.loop-link .bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  display: block;
  position: absolute;
  bottom: 0;
  left: 88px;
  right: 0
}

.no-thumbs.loop-link .bottom-border {
  left: 40px
}

#content .no-thumbs.loop-link h2, .no-thumbs.loop-link .post-meta {
  margin-left: 40px
}

.flickity-view>h2 {
  font-weight: 400;
  padding-left: 15px
}

.carousel {
  height: 350px;
  margin-top: 20px;
  margin-bottom: 40px
}

.carousel-cell {
  height: 100%;
  width: 90%;
  max-width: 400px
}

.carousel-cell img {
  height: auto;
  min-height: 100%;
  width: 92%;
  min-width: 92%;
  padding: 0;
  margin: 0 0 0 20px
}

.carousel-cell a {
  max-height: 230px;
  overflow: hidden;
  display: block
}

.carousel h2 {
  letter-spacing: -.02em;
  display: -webkit-box;
  width: 85%;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.carousel .post-meta {
  text-transform: capitalize;
  font-size: 80%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px
}

.slider-latest-only.blog .wptouch-showcase {
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  top: 55px;
  z-index: 1;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  min-height: auto!important;
  height: 50px;
  margin-bottom: 0
}

.slider-latest-only.blog.wptouch-multiads .wptouch-showcase {
  height: auto;
  margin-top: -1px;
  padding-top: 20px
}

.slider-latest-only.blog header {
  background-color: rgba(0, 0, 0, .2)!important;
  -webkit-backdrop-filter: blur(20px) saturate(150%)!important;
  margin-bottom: -54px
}

.slider-latest-only.blog header h1, .slider-latest-only.blog header>.tappable {
  color: #fff!important
}

.slider-latest-only.blog #search-dropper {
  background-color: rgba(0, 0, 0, .2)!important;
  -webkit-backdrop-filter: blur(20px) saturate(150%)!important;
  position: fixed;
  position: -webkit-sticky;
  top: 54px;
  z-index: 3;
  right: 0;
  left: 0
}

.slider-latest-only.blog .carousel {
  margin: 0 auto
}

.slider-latest-only.blog .carousel-cell {
  height: 100%;
  width: 100%;
  max-width: none!important;
  position: relative;
  overflow: hidden
}

.slider-latest-only.blog .carousel-cell img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 200%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden
}

.slider-latest-only.blog .carousel h2 {
  text-shadow: rgba(0, 0, 0, .6) 0 0 10px;
  position: absolute;
  bottom: 130px;
  font-size: 220%;
  width: 90%;
  color: #fff
}

.slider-latest-only.blog .carousel .post-meta {
  text-shadow: rgba(0, 0, 0, .6) 0 0 6px;
  color: #fff;
  position: absolute;
  bottom: 80px;
  font-size: 90%;
  text-transform: uppercase
}

.crumb-path {
  background-image: -webkit-gradient(radial, 50% 0, 0, 50% 0, 400, to(rgba(0, 0, 0, 0)), from(rgba(255, 255, 255, .5)));
  z-index: 2;
  text-align: left;
  opacity: .9
}

.crumb-path p {
  font-size: 80%;
  padding: 6px 12px;
  margin: 0
}

.crumb-path p span {
  display: inline-block;
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.landscape .crumb-path p span {
  width: 78%
}

.ios7 .crumb-path {
  position: -webkit-sticky;
  top: 0
}

.sharing-options.style-default.share-top a {
  font-size: 80%;
  font-weight: 400;
  font-style: normal
}

.sharing-options+.nav-controls {
  margin-bottom: -11px
}

.nav-controls {
  background-color: rgba(0, 0, 0, .05);
  font-size: 90%;
  font-weight: 700;
  border-top: 1px solid rgba(0, 0, 0, .05);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: 10px 20px;
  text-align: center;
  margin: -35px 0;
  color: #FFFFFF;
}

.nav-controls div {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  float: left
}

.nav-controls a:before {
  margin-right: 3px
}

.nav-controls a {
  font-weight: 400;
  font-style: normal;
  display: block
}

.nav-controls a.prev-post {
  padding-right: 8px
}

.nav-controls .previous {
  text-align: left;
  word-wrap: break-word
}

.nav-controls .next {
  text-align: right;
  word-wrap: break-word;
  float: right
}

.nav-controls a:after {
  margin-left: 3px
}

.post-page-content {
  color: rgba(0, 0, 0, .7);
  font-size: 100%;
  line-height: 165%;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  word-wrap: break-word
}

.post-page-content .post-page-thumbnail, .post-page-content .sharing-options {
  margin-left: -20px;
  margin-right: -20px
}

.post-page-content .wp-caption {
  max-width: 300px!important;
  width: auto!important
}

.post-page-content img.aligncenter {
  margin-left: -20px;
  margin-right: -20px;
  padding: 0!important;
  border: none!important
}

.post-page-content table {
  max-width: 100%;
  overflow: scroll
}

.post-page-content ol, .post-page-content ul {
  margin-left: -5px;
  margin-right: -5px;
  list-style-type: circle
}

.post-page-content ol {
  list-style-type: decimal
}

.post-page-content li {
  margin-left: 10;
  margin-right: 10;
  padding-right: 0;
  padding-left: 0
}

.wptouch-shortcode-webapp-mobile, .wptouch-shortcode-webapp-only {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  display: block
}

.comment-body a, .post-page-content p a {
  border-bottom-style: dotted;
  border-bottom-width: 1px
}

.post-page-content .post-thumbnail {
  margin: 0 0 -8px;
  padding: 0;
  min-width: 100%;
  height: auto
}

.post-page-head-area .post-author, .post-page-head-area .post-date-comments {
  font-size: 75%;
  color: rgba(0, 0, 0, .8);
  font-weight: 600;
  margin-right: 10px;
  margin-left: 10px
}

.post-page-content .cat-tags {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 90%;
  margin-top: 15px;
  text-align: left
}

.post-page-head-area.bauhaus {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  text-shadow: none;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  z-index: 0
}

.post-page-head-area.bauhaus .post-page-thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 200%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
  opacity: .4
}

.post-page-head-area.bauhaus .post-title {
  color: rgba(0, 0, 0, .8);
  letter-spacing: -.02em;
  font-size: 180%;
  font-weight: 400;
  margin: 0!important;
  padding: 10px 12px;
  word-wrap: break-word
}

.post-page-content blockquote {
  border-left: 3px solid rgba(0, 0, 0, .2);
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 10px
}

.post-page-content .wptouch-showcase {
  padding: 15px 0;
  margin-right: auto!important;
  display: block;
  clear: both;
  margin-left: 0!important
}

#content .wptouch-showcase, .bottom-content-showcase .wptouch-showcase, .top-content-showcase .wptouch-showcase {
  margin-left: -15px;
  margin-right: -15px
}

.related-posts {
  padding-top: 0;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  color: rgba(0, 0, 0, .7)
}

.related-posts ul li {
  position: relative;
  list-style-type: none;
  margin: 0 0 20px
}

.related-posts h3 {
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6em
}

.related-posts li p {
  margin-top: 5px;
  font-size: 95%;
  line-height: 140%
}

.related-posts li.has-thumb a, .related-posts p {
  padding-left: 60px;
  display: block;
  overflow: hidden
}

.related-posts .has-thumb img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 3px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px
}

.related-posts li a {
  display: block;
  padding-left: 62px
}

.no-com-bubbles #slider .comments-number, .no-com-bubbles .loop-link .comments {
  display: none
}

#comments {
  color: rgba(0, 0, 0, .7);
  background-color: rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 20px
}

#respond, #responses {
  margin-left: 15px;
  margin-right: 15px
}

#respond {
  padding-top: 20px
}

.comment {
  margin-left: 15px;
  padding-right: 15px
}

.comment-author, .comment-body, .comment-time {
  margin-left: 65px
}

.comment-author {
  font-weight: 700;
  font-size: 95%
}

.comment-time {
  font-size: 75%;
  color: rgba(0, 0, 0, .4)
}

#comments .comment-avatar {
  width: 54px;
  height: 54px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  border: 1px solid rgba(255, 255, 255, .5);
  float: left;
  right: 2px;
  position: relative;
  overflow: hidden
}

#comments .comment-avatar img {
  width: 100%;
  height: auto
}

.comment .comment-body {
  font-size: 90%;
  padding-bottom: 15px;
  word-wrap: break-word
}

.comment .comment-body a {
  word-wrap: break-word
}

.comment .comment-body:after {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  margin-right: -15px
}

#comments blockquote {
  margin-left: 0;
  padding-left: 10px
}

#comments .load-more-comments-wrap a {
  font-size: 95%
}

form#commentform input, form#commentform textarea {
  -webkit-border-radius: 2px;
  border-radius: 2px
}

form#commentform input {
  margin-right: 5px
}

form#commentform button#submit, form#commentform input#submit {
  -webkit-border-radius: 2px;
  border-radius: 2px
}

form#commentform label {
  display: block;
  margin-bottom: 5px
}

.search span.select-wrap {
  display: block;
  margin-top: 25px
}

.search span.select-wrap .search-select {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: transparent;
  -webkit-appearance: none;
  padding: 4px;
  border-style: none;
  font-size: 100%
}

.search span.select-wrap i.wptouch-icon-caret-down {
  content: "\e844";
  font: 110% wptouch-icons, sans-serif;
  position: relative;
  z-index: 2;
  top: 1px;
  right: 2px
}

.no-results {
  text-align: center;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px
}

.load-more-comments-wrap a, .load-more-link {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-style: normal
}

#switch {
  margin-top: 15px;
  margin-bottom: -15px
}

.page-wrapper .footer {
  margin-top: 25px;
  font-size: 75%
}

.footer, a.back-to-top {
  font-size: 80%;
  color: rgba(0, 0, 0, .5);
  font-weight: 400;
  font-style: normal
}

.circles #slider img.clone {
  -webkit-border-radius: 225px;
  border-radius: 225px
}

.circles .loop-link .date-circle, .circles .related .date-circle {
  -webkit-border-radius: 100px;
  border-radius: 100px
}

.circles .loop-link img.post-thumbnail {
  -webkit-border-radius: 150px;
  border-radius: 150px
}

.landscape.circles #slider img.clone {
  width: 250px;
  height: 250px;
  -webkit-border-radius: 225px;
  border-radius: 225px;
  left: -30px;
  top: 12px
}

.landscape.circles #slider .comments-number {
  left: 130px;
  top: 15px
}

.roundsquares #slider .comments-number {
  left: 85px;
  top: 0
}

.roundsquares #slider img.clone {
  left: -85px;
  -webkit-border-radius: 30px;
  border-radius: 30px
}

.landscape.roundsquares #slider img.clone {
  left: 0
}

.landscape.roundsquares #slider .comments-number {
  left: 160px
}

.roundsquares .loop-link .date-circle {
  -webkit-border-radius: 14px;
  border-radius: 14px
}

.roundsquares .comment-avatar, .roundsquares .loop-link img.post-thumbnail, .roundsquares .related img.wp-post-image {
  -webkit-border-radius: 14px;
  border-radius: 14px
}

.dark-body .loop-link .post-meta {
  color: rgba(255, 255, 255, .4)
}

.dark-header #menu-toggle.touched:after, .dark-header #search-toggle.touched:after {
  color: rgba(255, 255, 255, .3)
}

.dark-header #wptouch-search-inner input[type=submit] {
  color: rgba(255, 255, 255, .9)
}

.dark-header .loop-link .date-circle, .dark-header .related .date-circle {
  color: rgba(255, 255, 255, .8)
}

.dark-header header a, .dark-header header div {
  color: rgba(255, 255, 255, .9)
}

.dark-body .back-to-top, .dark-body .footer, .dark-body .post-page-content {
  color: rgba(255, 255, 255, .8)
}

.dark-body .loop-link .bottom-border {
  border-bottom: 1px solid rgba(255, 255, 255, .15)
}

.dark-body .sharing-options a {
  border-top-color: rgba(0, 0, 0, .1);
  border-bottom-color: rgba(0, 0, 0, .1);
  text-shadow: none
}

.dark-post-head .post-page-head-area .archive-text, .dark-post-head .post-page-head-area .post-title, .dark-post-head .post-page-head-area select {
  color: rgba(255, 255, 255, .9)
}

.dark-post-head .post-page-head-area .post-author, .dark-post-head .post-page-head-area .post-date-comments {
  color: rgba(255, 255, 255, .75);
  text-shadow: rgba(0, 0, 0, .6) 0 0 10px
}

.dark-body #comments {
  color: rgba(255, 255, 255, .7);
  background-color: rgba(0, 0, 0, .05);
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.dark-body .comment-time {
  color: rgba(255, 255, 255, .4)
}

.dark-body .comment .comment-body:after {
  border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.dark-body .comment-avatar {
  border: 1px solid rgba(0, 0, 0, .1)
}

.dark-body .related-posts {
  background-color: rgba(0, 0, 0, .2)
}

.dark-post-head form#commentform button#submit {
  color: rgba(255, 255, 255, .8)
}

.ios7.smartphone.web-app-mode #menu {
  padding-top: 20px
}

.drop-down.ios7.smartphone.web-app-mode #menu {
  position: fixed;
  top: 74px;
  overflow: auto;
  padding-top: 0;
  -webkit-overflow-scrolling: touch
}

.ios7.web-app-mode.has-fixed header {
  -webkit-backdrop-filter: blur(20px) saturate(150%);
  position: -webkit-sticky;
  padding-top: 20px;
  top: 0
}

.ios7.web-app-mode .crumb-path {
  position: -webkit-sticky;
  top: 74px
}

.ios7.web-app-mode #search-dropper {
  position: -webkit-sticky;
  top: 74px;
  z-index: 3
}

.off-canvas .wptouch-login-wrap {
  text-align: center;
  font-size: 70%
}

.wptouch-menu li.lang-item span {
  border: none;
  box-shadow: none;
  float: left;
  padding: 0 15px
}

.wptouch-menu li.lang-item img {
  height: auto;
  width: auto;
  top: 2px;
  padding-right: 0
}

.wptouch-menu li.lang-item span:before {
  content: '';
  border: none
}





/*custom top layout*/

.one{

  float: left;
  width: 46%;
  margin-left:1%;
  margin-right:1%;

}




.clear {

	clear : both;

}

/* margin */

.m_l1  { margin-left:  1px !important; }
.m_l2  { margin-left:  2px !important; }
.m_l3  { margin-left:  3px !important; }
.m_l4  { margin-left:  4px !important; }
.m_l5  { margin-left:  5px !important; }
.m_l10 { margin-left: 10px !important; }
.m_l11 { margin-left: 10px !important; }
.m_l12 { margin-left: 10px !important; }
.m_l13 { margin-left: 15px !important; }
.m_l14 { margin-left: 15px !important; }
.m_l15 { margin-left: 15px !important; }
.m_l16 { margin-left: 15px !important; }
.m_l17 { margin-left: 15px !important; }
.m_l18 { margin-left: 15px !important; }
.m_l19 { margin-left: 15px !important; }
.m_l20 { margin-left: 20px !important; }

.m_l25 { margin-left: 25px !important; }
.m_l29 { margin-left: 29px !important; }

.m_l30 { margin-left: 30px !important; }
.m_l40 { margin-left: 40px !important; }

.m_l50 { margin-left: 50px !important; }
.m_l60 { margin-left: 60px !important; }
.m_l70 { margin-left: 70px !important; }
.m_l88 { margin-left: 88px !important; }


.m_l120 { margin-left: 120px !important; }
.m_l121 { margin-left: 121px !important; }
.m_l125 { margin-left: 125px !important; }
.m_l126 { margin-left: 126px !important; }

.m_l144 { margin-left: 144px !important; }
.m_l145 { margin-left: 145px !important; }
.m_l146 { margin-left: 146px !important; }
.m_l147 { margin-left: 147px !important; }
.m_l150 { margin-left: 150px !important; }
.m_l160 { margin-left: 160px !important; }
.m_l175 { margin-left: 175px !important; }
.m_l182 { margin-left: 182px !important; }


.m_t1  { margin-top:  1px !important; }
.m_t2  { margin-top:  2px !important; }
.m_t3  { margin-top:  3px !important; }
.m_t4  { margin-top:  4px !important; }
.m_t5  { margin-top:  5px !important; }
.m_t6  { margin-top:  6px !important; }
.m_t7  { margin-top:  7px !important; }
.m_t8  { margin-top:  8px !important; }
.m_t9  { margin-top:  9px !important; }
.m_t10 { margin-top: 10px !important; }
.m_t11 { margin-top: 11px !important; }
.m_t12 { margin-top: 12px !important; }
.m_t13 { margin-top: 13px !important; }
.m_t15 { margin-top: 15px !important; }
.m_t20 {
	margin-top: 20px !important;
}
.m_t25 { margin-top: 25px !important; }
.m_t30 { margin-top: 30px !important; }
.m_t32 { margin-top: 32px !important; }
.m_t33 { margin-top: 33px !important; }
.m_t34 { margin-top: 34px !important; }
.m_t30 { margin-top: 30px !important; }
.m_t40 { margin-top: 40px !important; }
.m_t50 { margin-top: 50px !important; }
.m_t60 { margin-top: 60px !important; }
.m_t70 { margin-top: 70px !important; }
.m_t80 { margin-top: 80px !important; }
.m_t85 { margin-top: 85px !important; }
.m_t90 { margin-top: 90px !important; }
.m_t100 { margin-top: 100px !important; }

.m_r5  { margin-right:  5px !important; }
.m_r9  { margin-right:  9px !important; }
.m_r10 { margin-right: 10px !important; }
.m_r15 { margin-right: 15px !important; }
.m_r20 { margin-right: 20px !important; }
.m_r29 { margin-right: 29px !important; }
.m_r30 { margin-right: 30px !important; }
.m_r40 { margin-right: 40px !important; }
.m_r50 { margin-right: 50px !important; }
.m_r60 { margin-right: 60px !important; }
.m_r70 { margin-right: 70px !important; }
.m_r80 { margin-right: 80px !important; }

.m_b5  { margin-bottom:  5px !important; }
.m_b10 { margin-bottom: 10px !important; }
.m_b15 { margin-bottom: 15px !important; }
.m_b20 { margin-bottom: 20px !important; }
.m_b30 { margin-bottom: 30px !important; }
.m_b40 { margin-bottom: 40px !important; }
.m_b50 { margin-bottom: 50px !important; }

.m_l_auto { margin-left: auto !important; }
.m_r_auto { margin-right: auto !important; }

.m_rp {margin-right: 1% !important;}

.m_lp {margin-left: 2% !important;}
.m_lp_2 {margin-left: 2.5% !important;}


/*padding -------------------------------------------------------- */
.p_l3  { padding-left:  3px !important; }
.p_l4  { padding-left:  4px !important; }\
.p_l5  { padding-left:  5px !important; }
.p_l6  { padding-left:  6px !important; }
.p_l7  { padding-left:  7px !important; }
.p_l10 { padding-left: 10px !important; }
.p_l15 { padding-left: 15px !important; }
.p_l16 { padding-left: 15px !important; }
.p_l17 { padding-left: 15px !important; }
.p_l18 { padding-left: 15px !important; }
.p_l20 { padding-left: 20px !important; }
.p_l21 { padding-left: 21px !important; }
.p_l22 { padding-left: 22px !important; }
.p_l23 { padding-left: 23px !important; }
.p_l24 { padding-left: 24px !important; }
.p_l25 { padding-left: 25px !important; }
.p_l30 { padding-left: 30px !important; }
.p_l40 { padding-left: 40px !important; }
.p_l45 { padding-left: 45px !important; }
.p_l50 { padding-left: 50px !important; }
.p_l55 { padding-left: 55px !important; }
.p_l60 { padding-left: 60px !important; }
.p_l61 { padding-left: 61px !important; }
.p_l62 { padding-left: 62px !important; }
.p_l63 { padding-left: 63px !important; }
.p_l64 { padding-left: 64px !important; }
.p_l65 { padding-left: 65px !important; }

.p_l70 { padding-left: 70px !important; }
.p_l80 { padding-left: 80px !important; }
.p_l90 { padding-left: 90px !important; }

.p_l140 { padding-left: 140px !important; }
.p_l142 { padding-left: 142px !important; }
.p_l143 { padding-left: 143px !important; }
.p_l144 { padding-left: 144px !important; }
.p_l145 { padding-left: 145px !important; }
.p_l146 { padding-left: 146px !important; }
.p_l147 { padding-left: 147px !important; }
.p_l150 { padding-left: 150px !important; }
.p_l160 { padding-left: 160px !important; }
.p_l170 { padding-left: 170px !important; }

.p_t1 { padding-top: 1px !important; }
.p_t2 { padding-top: 2px !important; }
.p_t3 { padding-top: 3px !important; }
.p_t4 { padding-top: 4px !important; }
.p_t5 { padding-top: 5px !important; }
.p_t6 { padding-top: 6px !important; }
.p_t7 { padding-top: 7px !important; }
.p_t8 { padding-top: 8px !important; }
.p_t9 { padding-top: 9px !important; }
.p_t10 { padding-top: 10px !important; }
.p_t13 { padding-top: 13px !important; }
.p_t15 { padding-top: 15px !important; }
.p_t20 { padding-top: 20px !important; }
.p_t30 { padding-top: 30px !important; }
.p_t40 { padding-top: 40px !important; }
.p_t50 { padding-top: 50px !important; }
.p_t60 { padding-top: 60px !important; }
.p_t70 { padding-top: 70px !important; }
.p_t80 { padding-top: 80px !important; }
.p_t85 { padding-top: 85px !important; }

.p_t110 { padding-top: 110px !important; }
.p_t120 { padding-top: 120px !important; }
.p_t130 { padding-top: 130px !important; }
.p_t140 { padding-top: 140px !important; }
.p_t150 { padding-top: 150px !important; }


.p_r5  { padding-right:  5px !important; }
.p_r10 { padding-right: 10px !important; }
.p_r15 { padding-right: 15px !important; }
.p_r20 { padding-right: 20px !important; }
.p_r30 { padding-right: 30px !important; }
.p_r35 { padding-right: 35px !important; }
.p_r40 { padding-right: 40px !important; }
.p_r50 { padding-right: 50px !important; }

.p_b3  { padding-bottom:  3px !important; }
.p_b5  { padding-bottom:  5px !important; }
.p_b10 { padding-bottom: 10px !important; }
.p_b15 { padding-bottom: 15px !important; }
.p_b20 { padding-bottom: 20px !important; }
.p_b30 { padding-bottom: 30px !important; }
.p_b40 { padding-bottom: 40px !important; }
.p_b50 { padding-bottom: 50px !important; }


.tL{ text-align: left !important; }
.tC{ text-align: center !important; }
.tR{ text-align: right !important; }


.fs7 { font-size: 7px !important; }
.fs8 { font-size: 60% !important; }
.fs9 { font-size: 70% !important; }
.fs10 { font-size: 84% !important; }
.fs11 { font-size: 92% !important; }
.fs12 { font-size: 105% !important;}
.fs13 { font-size: 109% !important;}
.fs14 { font-size: 117% !important; }
.fs16 { font-size: 134% !important; }
.fs17 { font-size: 142% !important; }
.fs18 { font-size: 150% !important; }
.fs19 { font-size: 159% !important; }
.fs20 { font-size: 167% !important; }
.fs21 { font-size: 175% !important; }
.fs22 { font-size: 184% !important; }
.fs23 { font-size: 192% !important; }
.fs24 { font-size: 200% !important; }
.fs25 { font-size: 209% !important; }
.fs26 { font-size: 217% !important; }
.fs28 { font-size: 230% !important; }
.fs30 { font-size: 245% !important; }
.fs40 { font-size: 300% !important; }


.fw { font-weight: bold; }

/* margin */

.m_l1  { margin-left:  1px !important; }
.m_l2  { margin-left:  2px !important; }
.m_l3  { margin-left:  3px !important; }
.m_l4  { margin-left:  4px !important; }
.m_l5  { margin-left:  5px !important; }
.m_l10 { margin-left: 10px !important; }
.m_l11 { margin-left: 10px !important; }
.m_l12 { margin-left: 10px !important; }
.m_l13 { margin-left: 15px !important; }
.m_l14 { margin-left: 15px !important; }
.m_l15 { margin-left: 15px !important; }
.m_l16 { margin-left: 15px !important; }
.m_l17 { margin-left: 15px !important; }
.m_l18 { margin-left: 15px !important; }
.m_l19 { margin-left: 15px !important; }
.m_l20 { margin-left: 20px !important; }

.m_l25 { margin-left: 25px !important; }
.m_l29 { margin-left: 29px !important; }

.m_l30 { margin-left: 30px !important; }
.m_l40 { margin-left: 40px !important; }

.m_l50 { margin-left: 50px !important; }
.m_l60 { margin-left: 60px !important; }
.m_l70 { margin-left: 70px !important; }
.m_l88 { margin-left: 88px !important; }


.m_l120 { margin-left: 120px !important; }
.m_l121 { margin-left: 121px !important; }
.m_l125 { margin-left: 125px !important; }
.m_l126 { margin-left: 126px !important; }

.m_l144 { margin-left: 144px !important; }
.m_l145 { margin-left: 145px !important; }
.m_l146 { margin-left: 146px !important; }
.m_l147 { margin-left: 147px !important; }
.m_l150 { margin-left: 150px !important; }
.m_l160 { margin-left: 160px !important; }
.m_l175 { margin-left: 175px !important; }
.m_l182 { margin-left: 182px !important; }


.m_t1  { margin-top:  1px !important; }
.m_t2  { margin-top:  2px !important; }
.m_t3  { margin-top:  3px !important; }
.m_t4  { margin-top:  4px !important; }
.m_t5  { margin-top:  5px !important; }
.m_t6  { margin-top:  6px !important; }
.m_t7  { margin-top:  7px !important; }
.m_t8  { margin-top:  8px !important; }
.m_t9  { margin-top:  9px !important; }
.m_t10 { margin-top: 10px !important; }
.m_t11 { margin-top: 11px !important; }
.m_t12 { margin-top: 12px !important; }
.m_t13 { margin-top: 13px !important; }
.m_t15 { margin-top: 15px !important; }
.m_t20 {
	margin-top: 20px !important;
}
.m_t25 { margin-top: 25px !important; }
.m_t30 { margin-top: 30px !important; }
.m_t32 { margin-top: 32px !important; }
.m_t33 { margin-top: 33px !important; }
.m_t34 { margin-top: 34px !important; }
.m_t30 { margin-top: 30px !important; }
.m_t40 { margin-top: 40px !important; }
.m_t50 { margin-top: 50px !important; }
.m_t60 { margin-top: 60px !important; }
.m_t70 { margin-top: 70px !important; }
.m_t80 { margin-top: 80px !important; }
.m_t85 { margin-top: 85px !important; }
.m_t90 { margin-top: 90px !important; }
.m_t100 { margin-top: 100px !important; }

.m_r5  { margin-right:  5px !important; }
.m_r9  { margin-right:  9px !important; }
.m_r10 { margin-right: 10px !important; }
.m_r15 { margin-right: 15px !important; }
.m_r20 { margin-right: 20px !important; }
.m_r29 { margin-right: 29px !important; }
.m_r30 { margin-right: 30px !important; }
.m_r40 { margin-right: 40px !important; }
.m_r50 { margin-right: 50px !important; }
.m_r60 { margin-right: 60px !important; }
.m_r70 { margin-right: 70px !important; }
.m_r80 { margin-right: 80px !important; }

.m_b5  { margin-bottom:  5px !important; }
.m_b10 { margin-bottom: 10px !important; }
.m_b15 { margin-bottom: 15px !important; }
.m_b20 { margin-bottom: 20px !important; }
.m_b30 { margin-bottom: 30px !important; }
.m_b40 { margin-bottom: 40px !important; }
.m_b50 { margin-bottom: 50px !important; }

.m_l_auto { margin-left: auto !important; }
.m_r_auto { margin-right: auto !important; }


/*padding -------------------------------------------------------- */
.p_l3  { padding-left:  3px !important; }
.p_l4  { padding-left:  4px !important; }\
.p_l5  { padding-left:  5px !important; }
.p_l6  { padding-left:  6px !important; }
.p_l7  { padding-left:  7px !important; }
.p_l10 { padding-left: 10px !important; }
.p_l15 { padding-left: 15px !important; }
.p_l16 { padding-left: 15px !important; }
.p_l17 { padding-left: 15px !important; }
.p_l18 { padding-left: 15px !important; }
.p_l20 { padding-left: 20px !important; }
.p_l21 { padding-left: 21px !important; }
.p_l22 { padding-left: 22px !important; }
.p_l23 { padding-left: 23px !important; }
.p_l24 { padding-left: 24px !important; }
.p_l25 { padding-left: 25px !important; }
.p_l30 { padding-left: 30px !important; }
.p_l40 { padding-left: 40px !important; }
.p_l45 { padding-left: 45px !important; }
.p_l50 { padding-left: 50px !important; }
.p_l55 { padding-left: 55px !important; }
.p_l60 { padding-left: 60px !important; }
.p_l61 { padding-left: 61px !important; }
.p_l62 { padding-left: 62px !important; }
.p_l63 { padding-left: 63px !important; }
.p_l64 { padding-left: 64px !important; }
.p_l65 { padding-left: 65px !important; }

.p_l70 { padding-left: 70px !important; }
.p_l80 { padding-left: 80px !important; }
.p_l90 { padding-left: 90px !important; }

.p_l140 { padding-left: 140px !important; }
.p_l142 { padding-left: 142px !important; }
.p_l143 { padding-left: 143px !important; }
.p_l144 { padding-left: 144px !important; }
.p_l145 { padding-left: 145px !important; }
.p_l146 { padding-left: 146px !important; }
.p_l147 { padding-left: 147px !important; }
.p_l150 { padding-left: 150px !important; }
.p_l160 { padding-left: 160px !important; }
.p_l170 { padding-left: 170px !important; }

.p_t1 { padding-top: 1px !important; }
.p_t2 { padding-top: 2px !important; }
.p_t3 { padding-top: 3px !important; }
.p_t4 { padding-top: 4px !important; }
.p_t5 { padding-top: 5px !important; }
.p_t6 { padding-top: 6px !important; }
.p_t7 { padding-top: 7px !important; }
.p_t8 { padding-top: 8px !important; }
.p_t9 { padding-top: 9px !important; }
.p_t10 { padding-top: 10px !important; }
.p_t13 { padding-top: 13px !important; }
.p_t15 { padding-top: 15px !important; }
.p_t20 { padding-top: 20px !important; }
.p_t30 { padding-top: 30px !important; }
.p_t40 { padding-top: 40px !important; }
.p_t50 { padding-top: 50px !important; }
.p_t60 { padding-top: 60px !important; }
.p_t70 { padding-top: 70px !important; }
.p_t80 { padding-top: 80px !important; }
.p_t85 { padding-top: 85px !important; }

.p_t110 { padding-top: 110px !important; }
.p_t120 { padding-top: 120px !important; }
.p_t130 { padding-top: 130px !important; }
.p_t140 { padding-top: 140px !important; }
.p_t150 { padding-top: 150px !important; }


.p_r5  { padding-right:  5px !important; }
.p_r10 { padding-right: 10px !important; }
.p_r15 { padding-right: 15px !important; }
.p_r20 { padding-right: 20px !important; }
.p_r30 { padding-right: 30px !important; }
.p_r35 { padding-right: 35px !important; }
.p_r40 { padding-right: 40px !important; }
.p_r50 { padding-right: 50px !important; }

.p_b3  { padding-bottom:  3px !important; }
.p_b5  { padding-bottom:  5px !important; }
.p_b10 { padding-bottom: 10px !important; }
.p_b15 { padding-bottom: 15px !important; }
.p_b20 { padding-bottom: 20px !important; }
.p_b30 { padding-bottom: 30px !important; }
.p_b40 { padding-bottom: 40px !important; }
.p_b50 { padding-bottom: 50px !important; }


.tL{ text-align: left !important; }
.tC{ text-align: center !important; }
.tR{ text-align: right !important; }


#menu_custom .one a img {
    max-width: 100%;
    height: auto;
}

#menu_custom .two a img {
    max-width: 100%;
    height: auto;
}






.box_3 article .mobile_image a span img {

		width : 100% !important;
		max-width : 100% !important;
		/*height: auto !important;*/
		height: 100px;


}

 .box_3_img {

		width : 100% !important;
		max-width : 100% !important;
		/*height: auto !important;*/
		height: auto !important;


}





.mobile_box_3 {

	width:48%;
	float: left;
	border: 1px solid #393AA8;
	margin-left: 0px !important;

}


.mobile_image {

	width:100%;

}



.box_3 {

	width : 100%;

}

.box3_text {

	width:100%;
	margin-left:2px;
	height:auto;
	margin-bottom:3px;
	color : #d10202 !important;

}

.box3_text {

	line-height : 0.9;

}

.news_text {

	line-height : 2;

}


.box_5 article .mobile_image a span img {

		width : 100% !important;
		max-width : 100% !important;
		/*height: auto !important;*/
		height: 100px;


}

 .box_5_img {

		width : 100% !important;
		max-width : 100% !important;
		/*height: auto !important;*/
		height: auto !important;


}




.mobile_box_5 {

	width:18.5%;
	float: left;
	height: auto;
	/*border: 1px solid #d10202;*/
	margin-left: 0px !important;

}





.box_5 {

	width : 100%;

}

.box5_text {

	width:100%;
	margin-left:2px;
	height:auto;
	margin-bottom:3px;

}

.box5_text {

	line-height : 0.9;

}

.news_text {

	line-height : 2;

}


.box_5 article .mobile_image a span img {

		width : 100% !important;
		max-width : 100% !important;
		height: auto !important;



}

 .box_5_img {

		width : 100% !important;
		max-width : 100% !important;
		/*height: auto !important;*/
		height: auto !important;


}





/*-----------------------------------------------------
 トップページニュース
---------------------------------------------------- */
#newswaku {
	width:100%;
	height:auto;
	margin-bottom : 10px;
	margin-top : 10px;
	margin-left:0px;
	/*background-color:#f1eacc;*/
	float:left;
}



#newswaku #newsimg img {
	width:100%;
	height:auto;
}

#newswaku #news {
	width: 100%;
	height:175px;
	overflow:auto;
	margin-top:0px;

	}

#newswaku #news h3 {
	font-size:9px;
	color:#000;
	line-height:0.8em;
	border-bottom:dashed 1px #cc0033;
	padding:0px 0px 4px 10px !important;
	/*margin-bottom:10px;*/
	}

#newswaku #news h3 {
	color:#cc0033;
	}

#newswaku #news h3 a {
	color:#cc0033;
	}
#newswaku #news h3 a:hover {
	color:#333;
	}

#newswaku #news p {
	font-size:11px;

	}


	#news h3 p {

		line-height:1.4em !important;
		padding-top : 0px !important;
		padding-bottom : 0px !important;
		margin-top : 0px !important;
		margin-bottom : 0px !important;

	}


	.heading-font {

		margin-top : 0px !important;

	}




/*-----------------------------------------------------
 ガール
---------------------------------------------------- */


#content #model_title {
	background-color:#c81414;
	width:100%;
}
#content #model #model_title p {
	font-size:14px;
	text-align:center;
	color : #FFF;
}


#model_te table tr td span {

	font-size : 12px !important;

}

#model_te table tr td  {

	width : 100px !important;

}


#model_center table tbody tr td span {

	font-size : 16px !important;

}


/*----------------------------------------------------
    .demo01
----------------------------------------------------*/
.demo01 th  { width: 30% !important; text-align: left;  background: #b80101 !important; color:#FFFFFF !important; }

@media only screen and (max-width:480px){
    .demo01 { margin: 0 -10px; }
    .demo01 th,
    .demo01 td{
        width: 100%;
        display: block;
        border-top: none;
    }
    .demo01 tr:first-child th   { border-top: 1px solid #ddd; }
}


/*----------------------------------------------------
    .demo01
----------------------------------------------------*/
.demo02 table{

    border:none !important;
	width:100% !important;

}

.demo02 th  { width: 50% !important;  background: #FFFFFF !important; border:none !important; text-align:left; }
.demo02 td { text-align:center; border:none !important;}

@media only screen and (max-width:480px){
    .demo02 { margin: 0;  border:none !important; }
    .demo02 th,
    .demo02 td{
        text-align: left;
        width: 100%;
        display: block;
        border-top: none;
        border:none !important;
    }
    .demo02 tr:first-child th   { border-top: 0px;  border:none !important; }
}


.comment_title_line {

	background-color:#c81414;
	width:100%;
	font-color : #FFF !important;
	font-size: 12px !important;
	text-align: center !important;
	marin-top: 2px !important;
	margin-bottom : 2px !important;

}

.wp_rp_wrap {



}


#menu_custom {

	height : auto !important;

}

.posts-nav {
    text-align: center;
    padding-top: 0px !important;
    padding-bottom: 7px !important;
    color: #999 !important;
    text-transform: capitalize !important;
    font-weight: bold !important;
}

.footer {

	margin-top : 5px !important;

}

.posts-nav a {
    font-size: 14px !important;
	margin-top: 5px !important;
	margin-bottom : 5px !important;
}

.color_text {

color : #FFFFFF !important;

}


.page-wrapper {

	margin-bottom : 0px !important;

}

#menu-footermenu {

background-color : #2d353f !important;
padding-top : 10px !important;
padding-bottom : 10px !important;


}

.menu-item {

	list-style-type : none !important;
	font-size : 13px !important;
	border-top : 1px solid #333756 !important;
	border-bottom : 1px solid #4F4C7D !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;


}

.menu-item a {

	color : #FFFFFF !important;

}

.menu-item a:hover {

	color : #D6494B;

}

.page-wrapper {

	padding-bottom : 0px !important;

}


#myGallery, #myGallerySet, #flickrGallery {

    height: 250px !important;
    width: 100% !important;
}


.sharing-options a {

	width : 33% !important;
	max-width : 33% !important;

}

form#commentform input, form#commentform textarea {
	padding: 4px;
	border: 1px solid rgba(0,0,0,.3);
	font-size: 100%;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	 background-color: #FFFFFF;
}


form#commentform input:focus, form#commentform textarea:focus {
	padding: 4px;
	border: 1px solid rgba(0,0,0,.3);
	font-size: 100%;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	 background-color: #FFFFFF;
}


/*----------------------------------------------------
    .demo01
----------------------------------------------------*/



.demo01 th  { width:30%;  text-align: left;  background: #21002b !important; color:#FFFFFF !important; }

@media only screen and (max-width:480px){

	 .demo01 table {

	 	width : 320px !important;

	 }

    .demo01 th {

    	width:100% !important;
    	margin-left : 10px !important;

    }
    .demo01 { margin: 0 -10px; }
    .demo01 th,
    .demo01 td{
        width: 100%;
        display: block;
        border-top: none;

    }
    .demo01 tr:first-child th   { border-top: 1px solid #ddd; }

    .demo01 td input[type="text"] {

    	width: 250px;

    }

}


/*----------------------------------------------------
    .demo01
----------------------------------------------------*/
.demo02 table{

    border:none !important;

}

.demo02 th  { width: 50%; text-align: center;  background: #FFFFFF !important; border:none !important; }
.demo02 td { text-align:left; border:none !important;}

@media only screen and (max-width:480px){
    .demo02 { margin: 0 -10px;  border:none !important; }
    .demo02 th,
    .demo02 td{
        text-align: text;
        width: 100%;
        display: block;
        border-top: none;
        border:none !important;
    }
    .demo02 tr:first-child th   { border-top: 0px;  border:none !important; }

        .demo01 td input[type="text"] {

    	width: 200px;

    }

}



#footer-title-logo  {

	background-color : #2d353f;

}

#footer-title-logo img {

	width : 189px !important;
	height : 44px !important;

}



/* @end* /
