@charset "shift_jis";


body {
	color: #333333;	/*å¨ä½ã?æ?­è²*/
	margin: 0px;
	padding: 0px;
	text-align: center;
	font: 75%/2 "ã¡ã¤ãªãª", Meiryo, "?­?³ ?°ã´ã·ã?¯", Osaka, "ãã©ã®ãè§ã´ Pro W3", "Hiragino Kaku Gothic Pro";
	background: #FFF url(images/bg.jpg) repeat-x center top;	/*èæ¯è²ãä¸é¨ã®ãã?ãå?çã?èª­ã¿è¾¼ã¿??è»¸(æ¨ªè»¸)ã«ãªãã?ãï¼?¸é¨ã«éç½®*/
}
/*ãããã?ã¼ã¸ã®ã¿å¥ã®åçãèª­ã¿è¾¼ã?è¨­å®?*/
body#top {
	background: #FFF url(images/bg_top2.jpg) repeat-x center top;
}
body#page {
	background: #FFF url(../../uploads/2016/01/bg.jpg) repeat-x center top;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*ãªã³ã¯?å?è¬?è¨­å®?
---------------------------------------------------------------------------*/
a {
	color: #333333;
}
a:hover {
	color: #CD0010;			/*ã«ã¼ã½ã«ãªã¼ãã?æã?æ?­è²*/
	text-decoration: none;	/*ã«ã¼ã½ã«ãªã¼ãã?æã«ä¸ç·ãæ¶ãè¨­å®?*/
}

/*ã³ã³ã?ã¼??Pãå²ã?ãã­ã?¯??
---------------------------------------------------------------------------*/
#container {
	text-align: left;
	width: 980px;	/*ã³ã³ã?ã¼å¹?*/
	margin-right: auto;
	margin-left: auto;
}

/*ããã?ã¼?ã­ã´ã?1ã¿ã°ãä¸¸ã?²ã¿ã®ä¸­ã®ãã?ãå?çãã¡ãå?ã£ã¦ã?HPä¸é¨ãã­ã?¯??
---------------------------------------------------------------------------*/
#header {
	width: 100%;
	height: 163px;	/*ããã?ã¼ã®é«ã*/
	position: relative;
	background: url(images/header_bg.jpg) no-repeat;	/*èæ¯ç»åã?èª­ã¿è¾¼ã¿??ªãã?ãããªã?*/
}


/*ãããã?ã¼ã¸ã®ã¿ãèæ¯ç»åã¨é«ããèª¿æ´ããè¨­å®?*/
#top #top_header {
	background: url(images/header_bg_top.jpg) no-repeat;	/*èæ¯ç»åã?èª­ã¿è¾¼ã¿??ªãã?ãããªã?*/
	height: 497px;	/*ããã?ã¼ã®é«ã*/
}

#top_header h1 {

font-size: 9px;			/*æ?­ãµã¤ãº*/
	color: #333333;			/*æ?­è²*/
	font-weight: normal;	/*ã?ã©ã«ãã?å¤ªå­ãæ¨æºã«ãå¤ªå­ãã?ãªããã®?è¡åé¤ã?*/
	
}

#top #header {
	background: url(images/header_bg.jpg) no-repeat;	/*èæ¯ç»åã?èª­ã¿è¾¼ã¿??ªãã?ãããªã?*/
	height: 163px;	/*ããã?ã¼ã®é«ã*/
}

/*h1è¦å?ãã¿ã°è¨­å®?*/
#header h1 {
	font-size: 9px;			/*æ?­ãµã¤ãº*/
	color: #333333;			/*æ?­è²*/
	font-weight: normal;	/*ã?ã©ã«ãã?å¤ªå­ãæ¨æºã«ãå¤ªå­ãã?ãªããã®?è¡åé¤ã?*/
	position: absolute;
	line-height: 20px;
	right: 0px;		/*ããã?ã¼ãã­ã?¯ã«å¯¾ãã¦å³ãã0pxã®ä½ç½®ã«éç½®ã?*/
	bottom: 0px;	/*ããã?ã¼ãã­ã?¯ã«å¯¾ãã¦ä¸ãã?0pxã®ä½ç½®ã«éç½®ã?*/
}
#header h1 a {
	text-decoration: none;
	color: #333333;
}

/*ã¡ã¤ã³ã¡ãã¥ã¼?ä¸é¨ã®æ¨ªä¸¦ã³ã¡ãã¥ã¼??
---------------------------------------------------------------------------*/
ul#menu li {
	float: left;
	padding-right: 3px;
	padding-left: 3px;
	display: inline;
}
ul#menu li a {
	color: #FFF;	/*ã¡ãã¥ã¼ã®æ?­è²*/
	font-size: medium;
	font-weight:bold;
	background: url(images/menu_bg.gif) no-repeat center top;	/*ã¡ãã¥ã¼èæ¯ç»åã?èª­ã¿è¾¼ã¿??ªãã?ãããªã?¼?»åä¸é¨ãèª­ã¿è¾¼ã¿*/
	text-align: center;	/*æ?­ãã»ã³ã¿ãªã³ã°*/
	line-height: 50px;
	display: block;
	height: 80px;
	width: 190px;	/*?å?ãããã®ã¡ãã¥ã¼å¹?*/
	text-decoration: none;
}
/*ãã¦ã¹ãªã³æã?ã¡ãã¥ã¼è¨­å®?*/
ul#menu li a:hover {
	background: url(images/menu_bg.gif) no-repeat center -80px;	/*ã¡ãã¥ã¼èæ¯ç»åã?èª­ã¿è¾¼ã¿??ªãã?ãããªã?¼?»åä¸ãã?80pxã®ã¨ããããèª­ã¿è¾¼ã¿*/
}

/*ã³ã³ã?³ã?¼ã¡ã¤ã³ããµã¤ãã?ãã?¿ã¼ãå²ã?ãã­ã?¯??
---------------------------------------------------------------------------*/
#contents {
	clear: left;
	width: 974px;
	margin-right: auto;
	margin-left: auto;
}

/*ã¡ã¤ã³ã³ã³ã?³ã?¼å³å´ãã­ã?¯??
---------------------------------------------------------------------------*/
#main {
	float: right;	/*å³ã«ã¾ãããã¾ãã*/
	width: 720px;	/*ã¡ã¤ã³ã³ã³ã?³ã?¹?*/
	padding-bottom: 50px;
}


#main p {

	font-size : 18px !important;

}


/*?ã«ã©ã ä½¿ç¨æã?ã¡ã¤ã³ã³ã³ã?³ã?¨­å®?*/
.c1 #main {
	float: none;
	width: 100%;
}
/*h2ã¿ã°è¨­å®?*/
#main h2 {
	font-size: 130%;
	color: #FFFFFF;	/*æ?­è²*/
	clear: both;
	width: 710px;
	line-height: 40px;
	height: 40px;
	padding-left: 10px;
	background: url(images/title_bg1.gif) no-repeat;	/*èæ¯ç»åã?èª­ã¿è¾¼ã¿*/
}
/*?ã«ã©ã ä½¿ç¨æã?h2ã¿ã°è¨­å®?*/
.c1 #main h2 {
	background: url(images/title_bg1_c1.gif) no-repeat;
	width: 964px;
}
/*æ®µè½ã¿ã°ã®ä½ç½è¨­å®?*/
#main p {
	padding: 0.5em 10px 1em;	/*å·¦ãããä¸ã?å·¦å³ãä¸ã¸ã®ä½ç½*/
}


/*ã¡ã¤ã³ã³ã³ã?³ã??ã®box1
---------------------------------------------------------------------------*/
#main .box1 {
	float: left;
	width: 200px;	/*ããã¯ã¹ã®å¹?*/
	height: 210px;	/*ããã¯ã¹ã®é«ã*/
	padding: 10px;	/*ããã¯ã¹å??ä½ç½*/
	margin-bottom: 12px;
	margin-left: 12px;
	display: inline;
	border: 2px solid #666;	/*æ ç·ã?å¹??ç·ç¨®ãè²*/
	overflow: hidden;
}
#main .box11 {
	float: left;
	width: 220px;	/*ããã¯ã¹ã®å¹?*/
	height: 190px;	/*ããã¯ã¹ã®é«ã*/
	padding: 5px;	/*ããã¯ã¹å??ä½ç½*/
	margin-bottom: 12px;
	margin-left: 3px;
	display: inline;
	border: 2px solid #666;	/*æ ç·ã?å¹??ç·ç¨®ãè²*/
	overflow: hidden;
}
/*?ã«ã©ã ä½¿ç¨æã?box1è¨­å®?*/
.c1 #main .box1 {
	margin-left: 14px;
	margin-bottom: 14px;
}
/*h3è¦å?ãã¿ã°è¨­å®?*/
#main .box1 h3 {
	font-size: 100%;
	color: #CD0010;
}
#main .box11 h3 {
	font-size: 100%;
	color: #CD0010;
	text-align: center;
}
/*äººæ°No.1ã¢ã¤ã³ã³è¨­å®?*/
#main .box1.no1 {
	background: url(images/mark_no1.gif) no-repeat right bottom;	/*ã¢ã¤ã³ã³ã®èª­ã¿è¾¼ã¿??ªãã?ãããªã?¼?³ä¸ã«éç½®*/
}
/*ããããã¢ã¤ã³ã³è¨­å®?*/
#main .box1.osusume {
	background: url(images/mark_osusume.gif) no-repeat right bottom;	/*ã¢ã¤ã³ã³ã®èª­ã¿è¾¼ã¿??ªãã?ãããªã?¼?³ä¸ã«éç½®*/
}

#main .p2 {
	margin:10px;
	padding: 0.5em 10px 1em;	/*å·¦ãããä¸ã?å·¦å³ãä¸ã¸ã®ä½ç½*/
	font-size:18px;
}
#main .p3 {
	padding: 0.5em 10px 0.1em;	/*å·¦ãããä¸ã?å·¦å³ãä¸ã¸ã®ä½ç½*/
	font-size:18px;
}
#main .p22 {
	padding: 0.5em 10px 0.1em;	/*å·¦ãããä¸ã?å·¦å³ãä¸ã¸ã®ä½ç½*/
	font-size:18px;
}
#main .pb {
	padding: 0.5em 10px 0.1em;	/*å·¦ãããä¸ã?å·¦å³ãä¸ã¸ã®ä½ç½*/
	font-size: 160%;
	color: #0000FF;
	font-weight: bold;
}
/*ã¡ã¤ã³ã³ã³ã?³ã??ã®box2?æ¨ªé·ããã¯ã¹??
---------------------------------------------------------------------------*/
#main .box2 {
	width: 672px;	/*ããã¯ã¹ã®å¹?*/
	border: 2px solid #666;	/*æ ç·ã?å¹??ç·ç¨®ãè²*/
	padding: 10px;	/*ããã¯ã¹å??ä½ç½*/
	overflow: hidden;
	margin: 0px auto 13px;
}
/*?ã«ã©ã ä½¿ç¨æã?box2è¨­å®?*/
.c1 #main .box2 {
	width: 920px;
}
/*h3è¦å?ãã¿ã°è¨­å®?*/
#main .box2 h3 {
	font-size: 120%;	/*æ?­ãµã¤ãº*/
	color: #CD0010;		/*æ?­è²*/
	padding-left: 5px;
	border-bottom: 1px solid #333;	/*ä¸ç·ã?å¹??ç·ç¨®ãè²*/
	border-left: 5px solid #CD0010;	/*å·¦å´ã®ç·ã?å¹??ç·ç¨®ãè²*/
	margin-bottom: 0.5em;
}
/*æ³¨ææ¸ãç¨ããã¯ã¹è¨­å®?*/
#main .box2 .textbox .check {
	font-size: 10px;	/*æ?­ãµã¤ãº*/
	background: #FFC;	/*èæ¯è²*/
	border: 1px solid #999;	/*æ ç·ã?å¹??ç·ç¨®ãè²*/
	padding: 5px;		/*ããã¯ã¹å??ä½ç½*/
}
/*å·¦å´ã®ã¤ã¡ã¼ã¸ç»åãã­ã?¯*/
#main .box2 p.img {
	float: left;
}
/*ããã¯ã¹å??å³å´ãã­ã?¯è¨­å®?*/
#main .box2 .textbox {
	float: right;
	width: 360px;

}
/*?ã«ã©ã ä½¿ç¨æã?box2å??å³ã³ã³ã?³ã?(textbox)è¨­å®?*/
.c1 #main .box2 .textbox {
	width: 610px;

}
/*äººæ°No.1ã¢ã¤ã³ã³è¨­å®?*/
#main .box2.no1 {
	background: url(images/mark_no1.gif) no-repeat right bottom;	/*ã¢ã¤ã³ã³ã®èª­ã¿è¾¼ã¿??ªãã?ãããªã?¼?³ä¸ã«éç½®*/
	padding-bottom: 40px;
}
/*ããããã¢ã¤ã³ã³è¨­å®?*/
#main .box2.osusume {
	background: url(images/xxmark_osusume.gif) no-repeat right bottom;	/*ã¢ã¤ã³ã³ã®èª­ã¿è¾¼ã¿??ªãã?ãããªã?¼?³ä¸ã«éç½®*/
	padding-bottom: 40px;
}

/*ã¡ã¤ã³ã³ã³ã?³ã??ã®box1,box2å±é?
---------------------------------------------------------------------------*/
#main .box1 p,
#main .box2 p {
	padding: 0px;
}

#blg {
font-size: 100%;
}

#main .box3 {
	width: 600px;	/*ããã¯ã¹ã®å¹?*/
	padding: 10px;	/*ããã¯ã¹å??ä½ç½*/
	overflow: hidden;
	margin: 0px auto 13px;
}



/*ãµãã³ã³ã?³ã?¼å·¦å´ãã­ã?¯??
---------------------------------------------------------------------------*/
#sub {
	float: left;	/*å·¦ã«ã¾ãããã¾ãã*/
	width: 230px;	/*ãµãã³ã³ã?³ã?¹?*/
	padding-bottom: 50px;
}
/*?ã«ã©ã ä½¿ç¨æã?ãµãã³ã³ã?³ã?¨­å®?*/
.c1 #sub {
	display: none;
}
/*h3è¦å?ãã¿ã°è¨­å®?*/
#sub h3 {
	font-size: 100%;
	background: #cd0010;	/*èæ¯è²*/
	padding: 2px 5px;		/*å·¦ããä¸ä¸ã?å·¦å³ã¸ã®ä½ç½*/
	color: #FFF;			/*æ?­è²*/
}
/*æ®µè½ã¿ã°è¨­å®?*/
#sub p {
	padding: 0.5em 5px 1em;	/*å·¦ãããä¸ã?å·¦å³ãä¸ã¸ã®ä½ç½*/
}
/*ãµãã³ã³ã?³ã??ã®æ®µè½ã¿ã°å?§å¹?¸?æ¯ã«ä½¿ã? ´åç¨??ouponããã¼??*/
#sub p.img {
	padding: 0px;
}

/*ã¡ã¤ã³ã³ã³ã?³ã??ã®box1
---------------------------------------------------------------------------*/
#sub .box1 {
	background-color: #000000;	/*èæ¯è²*/
	padding: 5px;				/*ããã¯ã¹å??ä½ç½*/
	margin-bottom: 1em;
	color: #FFF;				/*æ?­è²*/
}
/*box1å??h3ã¿ã°è¨­å®?*/
#sub .box1 h3 {
	background-color: #cd0010;	/*èæ¯è²*/
	color: #FFF;				/*æ?­è²*/
}
/*box1å?«ãªã³ã¯ãè²¼ã£ãå ´åã?æ?­è²*/
#sub .box1 a {
	color: #FFF;
}

/*ãµãã¡ãã¥ã¼
---------------------------------------------------------------------------*/
#sub ul.submenu a {
	color: #FFF;	/*æ?­è²*/
	font-size: 18px; 
	font-weight: bolder;
	text-decoration: none;
	display: block;
	width: 210px;
	padding: 5px;
	border-bottom: 1px solid #333;	/*ä¸ç·ã?å¹??ç·ç¨®ãè²*/
}
#sub ul.submenu li a:hover {
	color: #CD0010;				/*ãã¦ã¹ãªã³æã?æ?­è²*/
	background-color: #FFFFFF;	/*ãã¦ã¹ãªã³æã?èæ¯è²*/
}

/*ãããã?ã¼ã¸å??æ´æ°æ? ±ã»ãç¥ããããã­ã?¯
---------------------------------------------------------------------------*/
#main .new {
	overflow: auto;			/*iframeé¢¨ã«è¦ããè¨­å®ã?å?é¨è¦ããããªããã®è¡ã¨ä¸ã?heightã®è¡ãåé¤ã?*/
	height: 150px;			/*ããã¯ã¹ã®é«ã*/
	width: 700px;
	padding-left: 10px;
}
/*?ã«ã©ã ä½¿ç¨æã?æ´æ°æ¬?ã­ã?¯è¨­å®?*/
.c1 #main .new {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
}
#main .new dl {
	clear: left;
	width: 680px;
	border-bottom: 1px solid #CCC;	/*æ¥ä»ãã¨ã«å¥ãä¸ç·ã?å¹??ç·ç¨®ãè²*/
	overflow: hidden;
}
/*?ã«ã©ã ä½¿ç¨æã?dlã¿ã°è¨­å®?*/
.c1 #main .new dl {
	width: 920px;
}
#main .new dt {
	font-weight: bold;	/*æ¥ä»ãå¤ªå­ã«*/
	float: left;
	width: 100px;
}
#main .new dd {
	float: left;
	width: 580px;
}
/*?ã«ã©ã ä½¿ç¨æã?ddã¿ã°è¨­å®?*/
.c1 #main .new dd {
	width: 820px;
}
#main .new dd img {
	vertical-align: middle;
}
*html #main .new dd img {
	margin-top:0.5em;
	vertical-align: baseline;
}

/*æéãã?ã¸å??ãç¥ããããã­ã?¯
---------------------------------------------------------------------------*/
#main .new1 {
	overflow: auto;			/*iframeé¢¨ã«è¦ããè¨­å®ã?å?é¨è¦ããããªããã®è¡ã¨ä¸ã?heightã®è¡ãåé¤ã?*/
	height: 225px;			/*ããã¯ã¹ã®é«ã*/
	width: 700px;
	padding-left: 10px;
}
/*?ã«ã©ã ä½¿ç¨æã?æ´æ°æ¬?ã­ã?¯è¨­å®?*/
.c1 #main .new1 {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
}
#main .new1 dl {
	clear: left;
	width: 680px;
	border-bottom: 1px solid #CCC;	/*æ¥ä»ãã¨ã«å¥ãä¸ç·ã?å¹??ç·ç¨®ãè²*/
	overflow: hidden;
}
/*?ã«ã©ã ä½¿ç¨æã?dlã¿ã°è¨­å®?*/
.c1 #main .new1 dl {
	width: 920px;
}
#main .new1 dt {
	font-weight: bold;	/*æ¥ä»ãå¤ªå­ã«*/
	float: left;
	width: 100px;
}
#main .new1 dd {
	float: left;
	width: 580px;
}
/*?ã«ã©ã ä½¿ç¨æã?ddã¿ã°è¨­å®?*/
.c1 #main .new1 dd {
	width: 820px;
}
#main .new1 dd img {
	vertical-align: middle;
}
*html #main .new1 dd img {
	margin-top:0.5em;
	vertical-align: baseline;
}


/*ããã¿ã¼
---------------------------------------------------------------------------*/
#footer {
	text-align: center;	/*ã»ã³ã¿ãªã³ã°*/
	clear: both;
	width: 100%;
}
#footer h2 {
	color:#0000cd;
	font-size: 150%;
	width:800px;
	margin:0 auto;
	border-bottom:solid 1px #ff0000;"
}
/*h3è¦å?ãã¿ã°è¨­å®?*/
#footer h3 {
	font-size: 180%;
	color: #000000;			/*æ?­è²*/
}

#footer h4 {
	font-size: 140%;
	color: #36f;			/*æ?­è²*/
}
#footer h5 {
	font-size: 100%;
	color: #a9a9a9;			/*æ?­è²*/
}
/*ããã¿ã¼å?«ãªã³ã¯è¨­å®ããå ´åç¨*/
#footer a {
	text-decoration: none;
}

/*ã??ãã«??
---------------------------------------------------------------------------*/
.ta1 {
	width: 720px;
	background: #FFF;	/*èæ¯è²*/
}
/*?ã«ã©ã ä½¿ç¨æã?ta1è¨­å®?*/
.c1 .ta1 {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #000;	/*æ ç·ã?å¹??ç·ç¨®ãè²*/
	line-height: 2;
}
/*ã??ãã«å??å³å´*/
.ta1 td{
	width: 477px;
	padding: 10px;
	vertical-align: top;
}
/*?ã«ã©ã ä½¿ç¨æã?tdã¿ã°è¨­å®?*/
.c1 .ta1 td{
	width: 685px;
}
/*ã??ãã«å??å·¦å´ã®è¦å?ãé¨å?*/
.ta1 th{
	width: 200px;
	padding: 10px;
	text-align: center;
	background: #535353;	/*èæ¯è²*/
	color: #FFF;			/*æ?­è²*/
}
/*ã??ãã«?è¡ç®ã«å¥ã£ãè¦å?ãé¨å?*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	background: #FA212A;	/*èæ¯è²*/
}
/*ã??ãã«å?«ãªã³ã¯è¨­å®ããå ´åã?æ?­è²*/
.ta1 a {
	color: #FFFFFF;			/*æ?­è²*/
}


/*ã¯ã¼ãã³??oupon.html?ã?ã¼ã¸è¨­å®?
---------------------------------------------------------------------------*/
/*ã¯ã¼ãã³ãã­ã?¯*/
#coupon {
	height: 540px;
	width: 720px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
/*ã?­ã¹ãé¨å??è¨­å®?*/
#coupon p {
	position: absolute;
	height: 210px;	/*ããã¯ã¹ã®é«ã*/
	width: 230px;	/*ããã¯ã¹ã®å¹?*/
	top: 20px;		/*ã¯ã¼ãã³ãã­ã?¯ã«å¯¾ãã¦ä¸ãã?20pxã®æ?ã«éç½®*/
	right: 20px;	/*ã¯ã¼ãã³ãã­ã?¯ã«å¯¾ãã¦å³ãã20pxã®æ?ã«éç½®*/
	font-size: 16px;	/*æ?­ãµã¤ãº*/
}

/*ãã?ä»?
---------------------------------------------------------------------------*/
.look {
	background-color: #dcdcdc;
}
.mb1em {
	margin-bottom: 1em;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
	text-align: left;
}
.color1 {
	color: #CD0010;
}
.c {
	text-align: center;
}
.pr {
	font-size: 10px;
}

<!-- --------åãåããã?ã¼ã¸ã®ã³ã¡ã³ã?-----------  -->
#container #contents #main p {
	font-size: 14px;
}
#container #contents #main p strong {
	font-size: 16px;
	color: #F00;
}
#container #contents #main p em {
	font-size: 16px;
	color: #03F;
}

<!-- --------1/27è¿½å CSS-----------  -->
#footer-menu {
width:100%;
clear:bith;
}
ul#f-menu li {
	float: left;
	padding-right: 3px;
	padding-left: 3px;
	display: inline;
}
ul#f-menu li a {
	color: #FFF;	/*ã¡ãã¥ã¼ã®æ?­è²*/
	font-size: medium;
	font-weight:bold;
	background: url(images/menu_bg.gif) no-repeat center top;	/*ã¡ãã¥ã¼èæ¯ç»åã?èª­ã¿è¾¼ã¿??ªãã?ãããªã?¼?»åä¸é¨ãèª­ã¿è¾¼ã¿*/
	text-align: center;	/*æ?­ãã»ã³ã¿ãªã³ã°*/
	line-height: 50px;
	display: block;
	height: 80px;
	width: 188px;	/*?å?ãããã®ã¡ãã¥ã¼å¹?*/
	text-decoration: none;
}
/*ãã¦ã¹ãªã³æã?ã¡ãã¥ã¼è¨­å®?*/
ul#f-menu li a:hover {
	background: url(images/menu_bg.gif) no-repeat center -80px;	/*ã¡ãã¥ã¼èæ¯ç»åã?èª­ã¿è¾¼ã¿??ªãã?ãããªã?¼?»åä¸ãã?80pxã®ã¨ããããèª­ã¿è¾¼ã¿*/
}

/*è¿½å è¦ç´ */
#main #nangoku-t {
font-size:18px;
}
#main #nangoku-t .p-img {
display:block;
margin-left: auto;
margin-right: auto;
}
#main #nangoku-t .p-blue {
color:#4169e1;
}
#main #nangoku-t .p-red {
color:#ff0000;
}
#main #nangoku-t .p-pink {
color:#ffb6c1;
}
#main #nangoku-t .p-green {
color:#90ee90;
}
#main #nangoku-t .p-blue2 {
color:#00bfff;
}
#main #nangoku-t .p-strong {
font-size:22px;
}
#main #nangoku-t .p-blue2-strong {
color:#00bfff;
font-size:22px;
}
#main #nangoku-t .p-red-strong {
color:#ff0000;
font-size:22px;
}

#fanny-box{
	width: 710px;
	margin: 20px 5px 5px ;
	padding:5px 5px 0;
	clear:both;
}
#fanny-box img {
	float:left;
	margin: 18px 0;
}
#fanny-box p {
	width: 490px;
	float: right;
}

span#rink-1{
	color: #ff7f50;;
	display: block;
	width: 215px;
}
span#rink-1:hover {
	color: #CD0010;
	background-color: #FFFFFF;
}

span#rink-ev{
	color: #808080;	
	display: block;
	width: 215px;
}
span#rink-ev:hover {
	color: #CD0010;
}

span#rink-tel{
	color:#0000ff;
	display: block;
	width: 215px;
}
span#rink-tel:hover {
	color: #CD0010;
}

p#p-name {
	font-size:small;
	color:#808080;
	text-align:right;
}

#rink p{
	border-bottom:solid 1px #ff0000;
	margin:0 2px;
	text-align:center;
}

.qa-main{
	font-size:15px;
}

#member-title{
	font-size:24px;
	font-weight:bold;
}
#member-card{
	font-size:20px;
	margin-top:5px;
}

#my-ageha{
	width:610px;
	margin-left:60px;
}
#my-ageha .my-ageha{
	width:450px;
	float:left;
}
#my-ageha .my-title{
	width:150px;
	font-size:16px;
	line-height:110%;
	float:right;
}



/* margin */

.m_l1  { margin-left:  1px !important; }
.m_l2  { margin-left:  2px !important; }
.m_l3  { margin-left:  3px !important; }
.m_l4  { margin-left:  4px !important; }
.m_l5  { margin-left:  5px !important; }
.m_l10 { margin-left: 10px !important; }
.m_l11 { margin-left: 10px !important; }
.m_l12 { margin-left: 10px !important; }
.m_l13 { margin-left: 15px !important; }
.m_l14 { margin-left: 15px !important; }
.m_l15 { margin-left: 15px !important; }
.m_l16 { margin-left: 15px !important; }
.m_l17 { margin-left: 15px !important; }
.m_l18 { margin-left: 15px !important; }
.m_l19 { margin-left: 15px !important; }
.m_l20 { margin-left: 20px !important; }

.m_l25 { margin-left: 25px !important; }
.m_l29 { margin-left: 29px !important; }

.m_l30 { margin-left: 30px !important; }
.m_l40 { margin-left: 40px !important; }

.m_l50 { margin-left: 50px !important; }
.m_l60 { margin-left: 60px !important; }
.m_l70 { margin-left: 70px !important; }
.m_l88 { margin-left: 88px !important; }


.m_l120 { margin-left: 120px !important; }
.m_l121 { margin-left: 121px !important; }
.m_l125 { margin-left: 125px !important; }
.m_l126 { margin-left: 126px !important; }

.m_l144 { margin-left: 144px !important; }
.m_l145 { margin-left: 145px !important; }
.m_l146 { margin-left: 146px !important; }
.m_l147 { margin-left: 147px !important; }
.m_l150 { margin-left: 150px !important; }
.m_l160 { margin-left: 160px !important; }
.m_l175 { margin-left: 175px !important; }
.m_l182 { margin-left: 182px !important; }


.m_t1  { margin-top:  1px !important; }
.m_t2  { margin-top:  2px !important; }
.m_t3  { margin-top:  3px !important; }
.m_t4  { margin-top:  4px !important; }
.m_t5  { margin-top:  5px !important; }
.m_t6  { margin-top:  6px !important; }
.m_t7  { margin-top:  7px !important; }
.m_t8  { margin-top:  8px !important; }
.m_t9  { margin-top:  9px !important; }
.m_t10 { margin-top: 10px !important; }
.m_t11 { margin-top: 11px !important; }
.m_t12 { margin-top: 12px !important; }
.m_t13 { margin-top: 13px !important; }
.m_t15 { margin-top: 15px !important; }
.m_t20 {
	margin-top: 20px !important;
}
.m_t25 { margin-top: 25px !important; }
.m_t30 { margin-top: 30px !important; }
.m_t32 { margin-top: 32px !important; }
.m_t33 { margin-top: 33px !important; }
.m_t34 { margin-top: 34px !important; }
.m_t30 { margin-top: 30px !important; }
.m_t40 { margin-top: 40px !important; }
.m_t50 { margin-top: 50px !important; }
.m_t60 { margin-top: 60px !important; }
.m_t70 { margin-top: 70px !important; }
.m_t80 { margin-top: 80px !important; }
.m_t85 { margin-top: 85px !important; }
.m_t90 { margin-top: 90px !important; }
.m_t100 { margin-top: 100px !important; }

.m_r5  { margin-right:  5px !important; }
.m_r9  { margin-right:  9px !important; }
.m_r10 { margin-right: 10px !important; }
.m_r15 { margin-right: 15px !important; }
.m_r20 { margin-right: 20px !important; }
.m_r29 { margin-right: 29px !important; }
.m_r30 { margin-right: 30px !important; }
.m_r40 { margin-right: 40px !important; }
.m_r50 { margin-right: 50px !important; }
.m_r60 { margin-right: 60px !important; }
.m_r70 { margin-right: 70px !important; }
.m_r80 { margin-right: 80px !important; }

.m_b5  { margin-bottom:  5px !important; }
.m_b10 { margin-bottom: 10px !important; }
.m_b15 { margin-bottom: 15px !important; }
.m_b20 { margin-bottom: 20px !important; }
.m_b30 { margin-bottom: 30px !important; }
.m_b40 { margin-bottom: 40px !important; }
.m_b50 { margin-bottom: 50px !important; }

.m_l_auto { margin-left: auto !important; }
.m_r_auto { margin-right: auto !important; }


/*padding -------------------------------------------------------- */
.p_l3  { padding-left:  3px !important; }
.p_l4  { padding-left:  4px !important; }\
.p_l5  { padding-left:  5px !important; }
.p_l6  { padding-left:  6px !important; }
.p_l7  { padding-left:  7px !important; }
.p_l10 { padding-left: 10px !important; }
.p_l15 { padding-left: 15px !important; }
.p_l16 { padding-left: 15px !important; }
.p_l17 { padding-left: 15px !important; }
.p_l18 { padding-left: 15px !important; }
.p_l20 { padding-left: 20px !important; }
.p_l21 { padding-left: 21px !important; }
.p_l22 { padding-left: 22px !important; }
.p_l23 { padding-left: 23px !important; }
.p_l24 { padding-left: 24px !important; }
.p_l25 { padding-left: 25px !important; }
.p_l30 { padding-left: 30px !important; }
.p_l40 { padding-left: 40px !important; }
.p_l45 { padding-left: 45px !important; }
.p_l50 { padding-left: 50px !important; }
.p_l55 { padding-left: 55px !important; }
.p_l60 { padding-left: 60px !important; }
.p_l61 { padding-left: 61px !important; }
.p_l62 { padding-left: 62px !important; }
.p_l63 { padding-left: 63px !important; }
.p_l64 { padding-left: 64px !important; }
.p_l65 { padding-left: 65px !important; }

.p_l70 { padding-left: 70px !important; }
.p_l80 { padding-left: 80px !important; }
.p_l90 { padding-left: 90px !important; }

.p_l140 { padding-left: 140px !important; }
.p_l142 { padding-left: 142px !important; }
.p_l143 { padding-left: 143px !important; }
.p_l144 { padding-left: 144px !important; }
.p_l145 { padding-left: 145px !important; }
.p_l146 { padding-left: 146px !important; }
.p_l147 { padding-left: 147px !important; }
.p_l150 { padding-left: 150px !important; }
.p_l160 { padding-left: 160px !important; }
.p_l170 { padding-left: 170px !important; }

.p_t1 { padding-top: 1px !important; }
.p_t2 { padding-top: 2px !important; }
.p_t3 { padding-top: 3px !important; }
.p_t4 { padding-top: 4px !important; }
.p_t5 { padding-top: 5px !important; }
.p_t6 { padding-top: 6px !important; }
.p_t7 { padding-top: 7px !important; }
.p_t8 { padding-top: 8px !important; }
.p_t9 { padding-top: 9px !important; }
.p_t10 { padding-top: 10px !important; }
.p_t13 { padding-top: 13px !important; }
.p_t15 { padding-top: 15px !important; }
.p_t20 { padding-top: 20px !important; }
.p_t30 { padding-top: 30px !important; }
.p_t40 { padding-top: 40px !important; }
.p_t50 { padding-top: 50px !important; }
.p_t60 { padding-top: 60px !important; }
.p_t70 { padding-top: 70px !important; }
.p_t80 { padding-top: 80px !important; }
.p_t85 { padding-top: 85px !important; }

.p_t110 { padding-top: 110px !important; }
.p_t120 { padding-top: 120px !important; }
.p_t130 { padding-top: 130px !important; }
.p_t140 { padding-top: 140px !important; }
.p_t150 { padding-top: 150px !important; }


.p_r5  { padding-right:  5px !important; }
.p_r10 { padding-right: 10px !important; }
.p_r15 { padding-right: 15px !important; }
.p_r20 { padding-right: 20px !important; }
.p_r30 { padding-right: 30px !important; }
.p_r35 { padding-right: 35px !important; }
.p_r40 { padding-right: 40px !important; }
.p_r50 { padding-right: 50px !important; }

.p_b3  { padding-bottom:  3px !important; }
.p_b5  { padding-bottom:  5px !important; }
.p_b10 { padding-bottom: 10px !important; }
.p_b15 { padding-bottom: 15px !important; }
.p_b20 { padding-bottom: 20px !important; }
.p_b30 { padding-bottom: 30px !important; }
.p_b40 { padding-bottom: 40px !important; }
.p_b50 { padding-bottom: 50px !important; }



.tL{ text-align: left !important; }
.tC{ text-align: center !important; }
.tR{ text-align: right !important; }

/*font-size ------------------------------------------------------ */


.fs7 { font-size: 7px !important; }
.fs8 { font-size: 60% !important; }
.fs9 { font-size: 70% !important; }
.fs10 { font-size: 84% !important; }
.fs11 { font-size: 92% !important; }
.fs12 { font-size: 105% !important;}
.fs13 { font-size: 109% !important;}
.fs14 { font-size: 117% !important; }
.fs16 { font-size: 134% !important; }
.fs17 { font-size: 142% !important; }
.fs18 { font-size: 150% !important; }
.fs19 { font-size: 159% !important; }
.fs20 { font-size: 167% !important; }
.fs21 { font-size: 175% !important; }
.fs22 { font-size: 184% !important; }
.fs23 { font-size: 192% !important; }
.fs24 { font-size: 200% !important; }
.fs25 { font-size: 209% !important; }
.fs26 { font-size: 217% !important; }
.fs28 { font-size: 230% !important; }
.fs30 { font-size: 245% !important; }
.fs40 { font-size: 300% !important; }


.fw { font-weight: bold; }



.color_red {
	color : #FF0000 !important;
}
