@charset "shift_jis";


body {
	color: #333333;	/*全体の文字色*/
	margin: 0px;
	padding: 0px;
	text-align: center;
	font: 75%/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	background: #FFF url(images/bg.jpg) repeat-x center top;	/*背景色、上部のフード写真の読み込み＆X軸(横軸)にリピート＆上部に配置*/
}
/*トップページのみ別の写真を読み込む設定*/
body#top {
	background: #FFF url(images/bg_top2.jpg) repeat-x center top;
}
body#page {
	background: #FFF url(../../uploads/2016/01/bg.jpg) repeat-x center top;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333333;
}
a:hover {
	color: #CD0010;			/*カーソルオーバー時の文字色*/
	text-decoration: none;	/*カーソルオーバー時に下線を消す設定*/
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	text-align: left;
	width: 980px;	/*コンテナー幅*/
	margin-right: auto;
	margin-left: auto;
}

/*ヘッダー（ロゴやh1タグ、丸い囲みの中のフード写真たちが入っているHP上部ブロック）
---------------------------------------------------------------------------*/
#header {
	width: 100%;
	height: 163px;	/*ヘッダーの高さ*/
	position: relative;
	background: url(images/header_bg.jpg) no-repeat;	/*背景画像の読み込み＆リピートしない*/
}


/*トップページのみ、背景画像と高さを調整する設定*/
#top #top_header {
	background: url(images/header_bg_top.jpg) no-repeat;	/*背景画像の読み込み＆リピートしない*/
	height: 497px;	/*ヘッダーの高さ*/
}

#top #header {
	background: url(images/header_bg.jpg) no-repeat;	/*背景画像の読み込み＆リピートしない*/
	height: 163px;	/*ヘッダーの高さ*/
}

/*h1見出しタグ設定*/
#header h1 {
	font-size: 9px;			/*文字サイズ*/
	color: #333333;			/*文字色*/
	font-weight: normal;	/*デフォルトの太字を標準に。太字がいいならこの１行削除。*/
	position: absolute;
	line-height: 20px;
	right: 0px;		/*ヘッダーブロックに対して右から0pxの位置に配置。*/
	bottom: 0px;	/*ヘッダーブロックに対して下から0pxの位置に配置。*/
}
#header h1 a {
	text-decoration: none;
	color: #333333;
}

/*メインメニュー（上部の横並びメニュー）
---------------------------------------------------------------------------*/
ul#menu li {
	float: left;
	padding-right: 3px;
	padding-left: 3px;
	display: inline;
}
ul#menu li a {
	color: #FFF;	/*メニューの文字色*/
	font-size: medium;
	font-weight:bold;
	background: url(images/menu_bg.gif) no-repeat center top;	/*メニュー背景画像の読み込み＆リピートしない＆画像上部を読み込み*/
	text-align: center;	/*文字をセンタリング*/
	line-height: 50px;
	display: block;
	height: 80px;
	width: 190px;	/*１個あたりのメニュー幅*/
	text-decoration: none;
}
/*マウスオン時のメニュー設定*/
ul#menu li a:hover {
	background: url(images/menu_bg.gif) no-repeat center -80px;	/*メニュー背景画像の読み込み＆リピートしない＆画像上から80pxのところから読み込み*/
}

/*コンテンツ（メイン、サイド、フッターを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	clear: left;
	width: 974px;
	margin-right: auto;
	margin-left: auto;
}

/*メインコンテンツ（右側ブロック）
---------------------------------------------------------------------------*/
#main {
	float: right;	/*右にまわりこませる*/
	width: 720px;	/*メインコンテンツ幅*/
	padding-bottom: 50px;
}
/*１カラム使用時のメインコンテンツ設定*/
.c1 #main {
	float: none;
	width: 100%;
}
/*h2タグ設定*/
#main h2 {
	font-size: 130%;
	color: #FFFFFF;	/*文字色*/
	clear: both;
	width: 710px;
	line-height: 40px;
	height: 40px;
	padding-left: 10px;
	background: url(images/title_bg1.gif) no-repeat;	/*背景画像の読み込み*/
}
/*１カラム使用時のh2タグ設定*/
.c1 #main h2 {
	background: url(images/title_bg1_c1.gif) no-repeat;
	width: 964px;
}
/*段落タグの余白設定*/
#main p {
	padding: 0.5em 10px 1em;	/*左から、上、左右、下への余白*/
}


/*メインコンテンツ内のbox1
---------------------------------------------------------------------------*/
#main .box1 {
	float: left;
	width: 200px;	/*ボックスの幅*/
	height: 210px;	/*ボックスの高さ*/
	padding: 10px;	/*ボックス内の余白*/
	margin-bottom: 12px;
	margin-left: 12px;
	display: inline;
	border: 2px solid #666;	/*枠線の幅、線種、色*/
	overflow: hidden;
}
#main .box11 {
	float: left;
	width: 220px;	/*ボックスの幅*/
	height: 190px;	/*ボックスの高さ*/
	padding: 5px;	/*ボックス内の余白*/
	margin-bottom: 12px;
	margin-left: 3px;
	display: inline;
	border: 2px solid #666;	/*枠線の幅、線種、色*/
	overflow: hidden;
}
/*１カラム使用時のbox1設定*/
.c1 #main .box1 {
	margin-left: 14px;
	margin-bottom: 14px;
}
/*h3見出しタグ設定*/
#main .box1 h3 {
	font-size: 100%;
	color: #CD0010;
}
#main .box11 h3 {
	font-size: 100%;
	color: #CD0010;
	text-align: center;
}
/*人気No.1アイコン設定*/
#main .box1.no1 {
	background: url(images/mark_no1.gif) no-repeat right bottom;	/*アイコンの読み込み＆リピートしない＆右下に配置*/
}
/*おすすめアイコン設定*/
#main .box1.osusume {
	background: url(images/mark_osusume.gif) no-repeat right bottom;	/*アイコンの読み込み＆リピートしない＆右下に配置*/
}

#main .p2 {
	margin:10px;
	padding: 0.5em 10px 1em;	/*左から、上、左右、下への余白*/
	font-size:14px;
}
#main .p3 {
	padding: 0.5em 10px 0.1em;	/*左から、上、左右、下への余白*/
	font-size:5px;
}
#main .p22 {
	padding: 0.5em 10px 0.1em;	/*左から、上、左右、下への余白*/
	font-size:14px;
}
#main .pb {
	padding: 0.5em 10px 0.1em;	/*左から、上、左右、下への余白*/
	font-size: 160%;
	color: #0000FF;
	font-weight: bold;
}
/*メインコンテンツ内のbox2（横長ボックス）
---------------------------------------------------------------------------*/
#main .box2 {
	width: 672px;	/*ボックスの幅*/
	border: 2px solid #666;	/*枠線の幅、線種、色*/
	padding: 10px;	/*ボックス内の余白*/
	overflow: hidden;
	margin: 0px auto 13px;
}
/*１カラム使用時のbox2設定*/
.c1 #main .box2 {
	width: 920px;
}
/*h3見出しタグ設定*/
#main .box2 h3 {
	font-size: 120%;	/*文字サイズ*/
	color: #CD0010;		/*文字色*/
	padding-left: 5px;
	border-bottom: 1px solid #333;	/*下線の幅、線種、色*/
	border-left: 5px solid #CD0010;	/*左側の線の幅、線種、色*/
	margin-bottom: 0.5em;
}
/*注意書き用ボックス設定*/
#main .box2 .textbox .check {
	font-size: 10px;	/*文字サイズ*/
	background: #FFC;	/*背景色*/
	border: 1px solid #999;	/*枠線の幅、線種、色*/
	padding: 5px;		/*ボックス内の余白*/
}
/*左側のイメージ画像ブロック*/
#main .box2 p.img {
	float: left;
}
/*ボックス内の右側ブロック設定*/
#main .box2 .textbox {
	float: right;
	width: 360px;

}
/*１カラム使用時のbox2内の右コンテンツ(textbox)設定*/
.c1 #main .box2 .textbox {
	width: 610px;

}
/*人気No.1アイコン設定*/
#main .box2.no1 {
	background: url(images/mark_no1.gif) no-repeat right bottom;	/*アイコンの読み込み＆リピートしない＆右下に配置*/
	padding-bottom: 40px;
}
/*おすすめアイコン設定*/
#main .box2.osusume {
	background: url(images/xxmark_osusume.gif) no-repeat right bottom;	/*アイコンの読み込み＆リピートしない＆右下に配置*/
	padding-bottom: 40px;
}

/*メインコンテンツ内のbox1,box2共通
---------------------------------------------------------------------------*/
#main .box1 p,
#main .box2 p {
	padding: 0px;
}

#blg {
font-size: 100%;
}

#main .box3 {
	width: 600px;	/*ボックスの幅*/
	padding: 10px;	/*ボックス内の余白*/
	overflow: hidden;
	margin: 0px auto 13px;
}



/*サブコンテンツ（左側ブロック）
---------------------------------------------------------------------------*/
#sub {
	float: left;	/*左にまわりこませる*/
	width: 230px;	/*サブコンテンツ幅*/
	padding-bottom: 50px;
}
/*１カラム使用時のサブコンテンツ設定*/
.c1 #sub {
	display: none;
}
/*h3見出しタグ設定*/
#sub h3 {
	font-size: 100%;
	background: #cd0010;	/*背景色*/
	padding: 2px 5px;		/*左から上下、左右への余白*/
	color: #FFF;			/*文字色*/
}
/*段落タグ設定*/
#sub p {
	padding: 0.5em 5px 1em;	/*左から、上、左右、下への余白*/
}
/*サブコンテンツ内の段落タグ内で幅一杯に使う場合用（couponバナー）*/
#sub p.img {
	padding: 0px;
}

/*メインコンテンツ内のbox1
---------------------------------------------------------------------------*/
#sub .box1 {
	background-color: #000000;	/*背景色*/
	padding: 5px;				/*ボックス内の余白*/
	margin-bottom: 1em;
	color: #FFF;				/*文字色*/
}
/*box1内のh3タグ設定*/
#sub .box1 h3 {
	background-color: #cd0010;	/*背景色*/
	color: #FFF;				/*文字色*/
}
/*box1内にリンクを貼った場合の文字色*/
#sub .box1 a {
	color: #FFF;
}

/*サブメニュー
---------------------------------------------------------------------------*/
#sub ul.submenu a {
	color: #FFF;	/*文字色*/
	font-size: 18px; 
	font-weight: bolder;
	text-decoration: none;
	display: block;
	width: 210px;
	padding: 5px;
	border-bottom: 1px solid #333;	/*下線の幅、線種、色*/
}
#sub ul.submenu li a:hover {
	color: #CD0010;				/*マウスオン時の文字色*/
	background-color: #FFFFFF;	/*マウスオン時の背景色*/
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
#main .new {
	overflow: auto;			/*iframe風に見せる設定。全部見せたいならこの行と下のheightの行を削除。*/
	height: 150px;			/*ボックスの高さ*/
	width: 700px;
	padding-left: 10px;
}
/*１カラム使用時の更新欄ブロック設定*/
.c1 #main .new {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
}
#main .new dl {
	clear: left;
	width: 680px;
	border-bottom: 1px solid #CCC;	/*日付ごとに入る下線の幅、線種、色*/
	overflow: hidden;
}
/*１カラム使用時のdlタグ設定*/
.c1 #main .new dl {
	width: 920px;
}
#main .new dt {
	font-weight: bold;	/*日付を太字に*/
	float: left;
	width: 100px;
}
#main .new dd {
	float: left;
	width: 580px;
}
/*１カラム使用時のddタグ設定*/
.c1 #main .new dd {
	width: 820px;
}
#main .new dd img {
	vertical-align: middle;
}
*html #main .new dd img {
	margin-top:0.5em;
	vertical-align: baseline;
}

/*料金ページ内「お知らせ」ブロック
---------------------------------------------------------------------------*/
#main .new1 {
	overflow: auto;			/*iframe風に見せる設定。全部見せたいならこの行と下のheightの行を削除。*/
	height: 225px;			/*ボックスの高さ*/
	width: 700px;
	padding-left: 10px;
}
/*１カラム使用時の更新欄ブロック設定*/
.c1 #main .new1 {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
}
#main .new1 dl {
	clear: left;
	width: 680px;
	border-bottom: 1px solid #CCC;	/*日付ごとに入る下線の幅、線種、色*/
	overflow: hidden;
}
/*１カラム使用時のdlタグ設定*/
.c1 #main .new1 dl {
	width: 920px;
}
#main .new1 dt {
	font-weight: bold;	/*日付を太字に*/
	float: left;
	width: 100px;
}
#main .new1 dd {
	float: left;
	width: 580px;
}
/*１カラム使用時のddタグ設定*/
.c1 #main .new1 dd {
	width: 820px;
}
#main .new1 dd img {
	vertical-align: middle;
}
*html #main .new1 dd img {
	margin-top:0.5em;
	vertical-align: baseline;
}


/*フッター
---------------------------------------------------------------------------*/
#footer {
	text-align: center;	/*センタリング*/
	clear: both;
	width: 100%;
}
#footer h2 {
	color:#0000cd;
	font-size: 150%;
	width:800px;
	margin:0 auto;
	border-bottom:solid 1px #ff0000;"
}
/*h3見出しタグ設定*/
#footer h3 {
	font-size: 180%;
	color: #000000;			/*文字色*/
}

#footer h4 {
	font-size: 140%;
	color: #36f;			/*文字色*/
}
#footer h5 {
	font-size: 100%;
	color: #a9a9a9;			/*文字色*/
}
/*フッター内にリンク設定した場合用*/
#footer a {
	text-decoration: none;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 720px;
	background: #FFF;	/*背景色*/
}
/*１カラム使用時のta1設定*/
.c1 .ta1 {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #000;	/*枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta1 td{
	width: 477px;
	padding: 10px;
	vertical-align: top;
}
/*１カラム使用時のtdタグ設定*/
.c1 .ta1 td{
	width: 685px;
}
/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 200px;
	padding: 10px;
	text-align: center;
	background: #535353;	/*背景色*/
	color: #FFF;			/*文字色*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	background: #FA212A;	/*背景色*/
}
/*テーブル内にリンク設定した場合の文字色*/
.ta1 a {
	color: #FFFFFF;			/*文字色*/
}


/*クーポン（coupon.html）ページ設定
---------------------------------------------------------------------------*/
/*クーポンブロック*/
#coupon {
	height: 540px;
	width: 720px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
/*テキスト部分の設定*/
#coupon p {
	position: absolute;
	height: 210px;	/*ボックスの高さ*/
	width: 230px;	/*ボックスの幅*/
	top: 20px;		/*クーポンブロックに対して上から20pxの所に配置*/
	right: 20px;	/*クーポンブロックに対して右から20pxの所に配置*/
	font-size: 16px;	/*文字サイズ*/
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background-color: #dcdcdc;
}
.mb1em {
	margin-bottom: 1em;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
	text-align: left;
}
.color1 {
	color: #CD0010;
}
.c {
	text-align: center;
}
.pr {
	font-size: 10px;
}

<!-- --------問い合わせページのコメント-----------  -->
#container #contents #main p {
	font-size: 14px;
}
#container #contents #main p strong {
	font-size: 16px;
	color: #F00;
}
#container #contents #main p em {
	font-size: 16px;
	color: #03F;
}

<!-- --------1/27追加CSS-----------  -->
#footer-menu {
width:100%;
clear:bith;
}
ul#f-menu li {
	float: left;
	padding-right: 3px;
	padding-left: 3px;
	display: inline;
}
ul#f-menu li a {
	color: #FFF;	/*メニューの文字色*/
	font-size: medium;
	font-weight:bold;
	background: url(images/menu_bg.gif) no-repeat center top;	/*メニュー背景画像の読み込み＆リピートしない＆画像上部を読み込み*/
	text-align: center;	/*文字をセンタリング*/
	line-height: 50px;
	display: block;
	height: 80px;
	width: 188px;	/*１個あたりのメニュー幅*/
	text-decoration: none;
}
/*マウスオン時のメニュー設定*/
ul#f-menu li a:hover {
	background: url(images/menu_bg.gif) no-repeat center -80px;	/*メニュー背景画像の読み込み＆リピートしない＆画像上から80pxのところから読み込み*/
}

/*追加要素*/
#main #nangoku-t {
font-size:18px;
}
#main #nangoku-t .p-img {
display:block;
margin-left: auto;
margin-right: auto;
}
#main #nangoku-t .p-blue {
color:#4169e1;
}
#main #nangoku-t .p-red {
color:#ff0000;
}
#main #nangoku-t .p-pink {
color:#ffb6c1;
}
#main #nangoku-t .p-green {
color:#90ee90;
}
#main #nangoku-t .p-blue2 {
color:#00bfff;
}
#main #nangoku-t .p-strong {
font-size:22px;
}
#main #nangoku-t .p-blue2-strong {
color:#00bfff;
font-size:22px;
}
#main #nangoku-t .p-red-strong {
color:#ff0000;
font-size:22px;
}

#fanny-box{
	width: 710px;
	margin: 20px 5px 5px ;
	padding:5px 5px 0;
	clear:both;
}
#fanny-box img {
	float:left;
	margin: 18px 0;
}
#fanny-box p {
	width: 490px;
	float: right;
}

span#rink-1{
	color: #ff7f50;;
	display: block;
	width: 215px;
}
span#rink-1:hover {
	color: #CD0010;
	background-color: #FFFFFF;
}

span#rink-ev{
	color: #808080;	
	display: block;
	width: 215px;
}
span#rink-ev:hover {
	color: #CD0010;
}

span#rink-tel{
	color:#0000ff;
	display: block;
	width: 215px;
}
span#rink-tel:hover {
	color: #CD0010;
}

p#p-name {
	font-size:small;
	color:#808080;
	text-align:right;
}

#rink p{
	border-bottom:solid 1px #ff0000;
	margin:0 2px;
	text-align:center;
}

.qa-main{
	font-size:15px;
}

#member-title{
	font-size:24px;
	font-weight:bold;
}
#member-card{
	font-size:20px;
	margin-top:5px;
}

#my-ageha{
	width:610px;
	margin-left:60px;
}
#my-ageha .my-ageha{
	width:450px;
	float:left;
}
#my-ageha .my-title{
	width:150px;
	font-size:16px;
	line-height:110%;
	float:right;
}